@charset "UTF-8";
/* common start  */
html, body { position: relative; margin: 0px; padding: 0px; font-size: 12px; color: #333; background-color: #F7F7F7; }

.iconfont { line-height: inherit; font-size: inherit; }

p { padding: 0px; margin: 0px; }

a, a:hover, a:active { text-decoration: none; }

.fl { float: left; }

.fr { float: right; }

.clearAll { clear: both; overflow: hidden; }

.container { width: 1200px; margin: 0 auto; }

ul { margin: 0px; padding: 0px; list-style: none; }

/* common end */
.topAdv { width: 100%; min-width: 1200px; clear: both; overflow: hidden; }

.topAdv .topImg { width: 1200px; margin: 0 auto; clear: both; overflow: hidden; position: relative; }

.topAdv .topImg img { width: 100%; }

.topAdv .topImg .closeBtn { position: absolute; top: 0px; right: 0px; height: 16px; width: 16px; background-color: rgba(0, 0, 0, 0.5); color: #fff; line-height: 16px; text-align: center; font-size: 12px; border-radius: 3px; }

.topAdv .topImg .closeBtn:hover { background-color: black; text-decoration: none; }

/*top bar */
.topBar { height: 30px; line-height: 30px; width: 100%; clear: both; overflow: hidden; background: #f1f1f1; border-bottom: 1px solid #f3f3f3; }

.topBar .toLogin { color: red; margin: 0 10px; }

.topBar .na { color: #333; }

.topBar .na:hover { color: #3a95e7; }

.topBar .topA .na { display: inline-block; padding: 0px 7px; position: relative; }

.topBar .topA .na:not(:last-child)::after { content: ""; position: absolute; color: #999; right: 0px; height: 30px; top: 0px; width: 1px; background-color: #c8c8c8; }

/* logo and search start */
.logo_search { height: 42px; padding: 1px 0px; margin: 0 auto; background-color: #fff; }

.logo_search .mainLogo { float: left; height: 40px; margin: 1px 0px; width: 25%; }

.logo_search .mainLogo img { height: 40px; float: left; }

.logo_search .mainLogo .service { float: left; margin-left: 10px; color: #999; }

.logo_search .mainLogo .service .text { font-size: 14px; line-height: 1.5; }

.logo_search .mainLogo .service .number { font-size: 14px; line-height: 1.5; color: #f60; }

.logo_search .searchBox { width: 50%; float: left; text-align: center; }

.logo_search .searchBox .searchCondition { height: 28px; line-height: 28px; width: 80px; border: 1px solid #f60; color: #f60; display: inline-block; margin: 6px; position: relative; vertical-align: middle; border-radius: 3px; outline: none; }

.logo_search .searchBox select.searchCondition { height: 30px; }

.logo_search .searchBox input.searchCondition { padding: 0px 10px; }

.logo_search .searchBox .searchBtn { height: 30px; width: 30px; text-align: center; color: #fff; border-radius: 3px; background-color: #f60; display: inline-block; font-size: 16px; vertical-align: middle; -webkit-box-shadow: none; box-shadow: none; border: 1px solid #f60; outline: none; }

.logo_search .searchBox .searchBtn:hover { background-color: #f90; }

.logo_search .buySaller { float: left; width: 25%; text-align: right; padding-top: 6px; }

.logo_search .buySaller .buyItem { border: 1px solid #f60; display: inline-block; height: 28px; line-height: 28px; padding: 0px 10px; font-size: 14px; color: #f60; margin-left: 20px; position: relative; }

.logo_search .buySaller .buyItem .down { position: absolute; top: 28px; left: -1px; z-index: 11; width: 96px; border: 1px solid #f60; background-color: #fff; display: none; }

.logo_search .buySaller .buyItem .down li { clear: both; overflow: hidden; text-align: center; }

.logo_search .buySaller .buyItem .down li:not(:last-child) { border-bottom: 1px solid #f60; }

.logo_search .buySaller .buyItem .down li a { color: #f60; display: block; width: 100%; height: 30px; line-height: 30px; }

.logo_search .buySaller .buyItem .down li a:hover { background-color: #f60; color: #fff; }

.logo_search .buySaller .buyItem:hover .down { display: block; }

.logo_search .buySaller .buyItem.car:hover { background-color: #f60; color: #fff; }

/* logo and search end */
/* menu box start */
.menu { clear: both; background-color: #72b1e4; width: 100%; color: #fff; min-width: 1200px; }

.menu .menuInner { width: 1200px; }

.menu .menuInner li { display: inline-block; vertical-align: bottom; /*卖家中心 二级菜单 start*/ /*卖家中心 二级菜单 end*/ }

.menu .menuInner li.menuItem { position: relative; }

.menu .menuInner li.menuItem a { display: block; color: #fff; line-height: 40px; height: 40px; font-size: 14px; background-color: rgba(35, 140, 225, 0); text-align: center; width: 100px; }

.menu .menuInner li.menuItem:hover { -webkit-transition: background-color 0.3s; transition: background-color 0.3s; background-color: #238ce1; }

.menu .menuInner li.menuItem.active { background-color: #238ce1; }

.menu .menuInner li.menuItem:hover .secondMenu { display: block; }

.menu .menuInner li.menuItem .secondMenu { position: absolute; display: none; z-index: 20; }

.menu .menuInner li.menuItem .secondMenu li { display: block; height: 40px; }

.menu .menuInner li.menuItem .secondMenu li a { display: block; line-height: 40px; width: 100px; background-color: #72b1e4; }

.menu .menuInner li.menuItem .secondMenu li a:hover { background-color: #238ce1; }

.menu .menuInner li.m_sel .mi_se { position: absolute; background-color: #72b1e4; width: 100%; display: none; }

.menu .menuInner li.m_sel .mi_se li { position: relative; display: block; width: 100%; line-height: 40px; font-size: 14px; border-bottom: 1px solid #fff; text-align: center; }

.menu .menuInner li.m_sel .mi_se li .mi_th { position: absolute; left: 100%; top: 0px; display: none; background-color: #72b1e4; border-left: 1px solid #fff; }

.menu .menuInner li.m_sel .mi_se li .mi_th a { display: block; width: 90px; }

.menu .menuInner li.m_sel .mi_se li .mi_th a:hover { background-color: #238ce1; }

.menu .menuInner li.m_sel .mi_se li:hover { background-color: #238ce1; }

.menu .menuInner li.m_sel .mi_se li:hover .mi_th { display: block; }

.menu .menuInner li.m_sel:hover .mi_se { display: block; }

.menu .aboutBtn { position: absolute; height: 40px; line-height: 40px; color: #fff; top: 0px; right: 0px; }

.menu .aboutBtn:hover { color: #f60; }

/* menu box end */
/* 轮播图片和推广 start */
.slider { width: 1200px; float: left; height: 200px; overflow: hidden; position: relative; margin-bottom: 10px; }

.slider .slidesjs-navigation { display: none; }

.slider .slidesjs-pagination { position: absolute; bottom: 10px; text-align: right; width: 100%; }

.slider .slidesjs-pagination .slidesjs-pagination-item { display: inline-block; width: 7px; height: 7px; border-radius: 7px; padding: 2px; background-color: #f60; margin: 0px 5px; line-height: 100; overflow: hidden; }

.slider .slidesjs-pagination .slidesjs-pagination-item a { display: block; overflow: hidden; }

.slider .slidesjs-pagination .slidesjs-pagination-item a.active { background-color: #fff; height: 7px; width: 7px; border-radius: 7px; }

/* 轮播图片和推广 end */
/* 左右结构 start */
.leftContent { width: 1000px; float: left; }

.leftContent .classBox { background-color: #fff; clear: both; overflow: hidden; }

.leftContent .classBox .firstClass { float: left; width: 200px; }

.leftContent .classBox .firstClass .flag { height: 40px; line-height: 40px; text-align: center; color: #fff; font-size: 20px; background-color: #72b1e4; }

.leftContent .classBox .firstClass .classList { width: 200px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.leftContent .classBox .firstClass .classList li { position: relative; }

.leftContent .classBox .firstClass .classList li:hover { background-color: rgba(184, 202, 216, 0.6); }

.leftContent .classBox .firstClass .classList li:hover .innerChooseBox { display: block; }

.leftContent .classBox .firstClass .classList .classItem { display: block; height: 56px; line-height: 56px; padding-left: 5px; font-size: 16px; border-bottom: 1px solid #eee; color: #666; position: relative; text-align: center; }

.leftContent .classBox .firstClass .classList .classItem .ci_img { text-align: center; height: 50px; display: inline-block; margin-top: 3px; margin-right: 10px; }

.leftContent .classBox .firstClass .classList .classItem .ci_img img { vertical-align: top; height: 50px; max-width: 100px; }

.leftContent .classBox .firstClass .classList .classItem.active { background-color: rgba(184, 202, 216, 0.6); }

.leftContent .classBox .firstClass .classList .newClass { height: 50px; line-height: 50px; width: 90%; margin: 10px auto; color: #fff; background-color: #f60; text-align: center; display: block; border-radius: 5px; font-size: 18px; }

.leftContent .classBox .firstClass .classList .newClass:hover { background-color: #f90; }

.leftContent .classBox .secondClass { width: 780px; padding: 10px; min-height: 642px; border-top: 1px solid #72b1e4; float: left; }

.leftContent .classBox .secondClass .childItem { width: 153px; height: 160px; border: 1px solid #b8cad8; float: left; margin-right: 1px; margin-bottom: 1px; }

.leftContent .classBox .secondClass .childItem .childImg { width: 153px; height: 130px; clear: both; overflow: hidden; }

.leftContent .classBox .secondClass .childItem .childImg img { width: 100%; }

.leftContent .classBox .secondClass .childItem .childName { background-color: #b8cad8; text-align: center; height: 30px; line-height: 30px; color: #fff; font-size: 14px; }

.leftContent .classBox .secondClass .childItem.active, .leftContent .classBox .secondClass .childItem:hover { border-color: #72b1e4; }

.leftContent .classBox .secondClass .childItem.active .childName, .leftContent .classBox .secondClass .childItem:hover .childName { background-color: #72b1e4; }

.leftContent .classBox .secondClass.innerChooseBox { position: absolute; z-index: 10; background-color: #fff; display: none; left: 200px; top: 0px; -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5); box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5); }

/* 左右结构 end */
/* 询价表哥 start */
.modelBox { width: 1000px; }

.model { background-color: #fff; margin-top: 20px; }

.model.m60 { float: left; width: 540px; }

.model.m40 { float: right; width: 450px; }

.model .modelTop { height: 40px; background-color: #72b1e4; color: #fff; padding: 0px 10px; line-height: 40px; font-size: 16px; clear: both; overflow: hidden; }

.model .modelTop a { float: right; font-size: 14px; color: #fff; }

.model .modelTop a:hover { color: #f60; }

.model .modelTable { width: 100%; border: 1px solid #b8cad8; }

.model .modelTable tr:first-child td { background-color: #b8cad8; }

.model .modelTable tr:nth-child(2n) { background-color: #f9f9f9; }

.model .modelTable tr:first-child td { color: #333; font-size: 14px; }

.model .modelTable tr:first-child td:last-child { color: #333; }

.model .modelTable tr:first-child td:first-child { color: #f60; }

.model .modelTable td:first-child { color: #f60; background-color: #f5f5f5; }

.model .modelTable tr:hover { background-color: #F7F7F7; }

.model .modelTable td { height: 30px; line-height: 30px; text-align: center; }

.model .modelTable td a { color: #f60; }

.model .modelTable td a:hover { color: #f90; }

/* 询价表哥 start */
/*  产品说明 tab start */
.modelTab { background-color: #fff; margin-top: 20px; border: 1px solid #b8cad8; margin-top: 20px; }

.modelTab .tabHeader { height: 30px; line-height: 30px; border-bottom: 1px solid #72b1e4; }

.modelTab .tabHeader a { display: inline-block; padding: 0px 15px; font-size: 14px; color: #333; }

.modelTab .tabHeader a:hover, .modelTab .tabHeader a.active { background-color: #72b1e4; color: #fff; }

.modelTab .tabBody { padding: 10px; font-size: 14px; line-height: 2; }

/*  产品说明 tab end */
/* 轮播产品广告 start */
.slideAdvBox { margin-top: 20px; background-color: #fff; }

.slideAdvBox .slideName { height: 216px; width: 50px; float: left; background-color: #72b1e4; word-wrap: break-word; font-size: 20px; text-align: center; padding-top: 24px; }

.slideAdvBox .slideName span { display: block; text-align: center; line-height: 2; color: #fff; }

.slideAdvBox .slideAdv { float: left; width: 1138px; height: 218px; border: 1px solid #72b1e4; overflow: hidden; background-color: #fff; padding: 10px; padding-left: 0px; }

.slideAdvBox .slideAdv .item { float: left; border: 1px solid transparent; width: 218px; position: relative; height: 218px; }

.slideAdvBox .slideAdv .item .img { width: 218px; height: 218px; }

.slideAdvBox .slideAdv .item .img img { width: 100%; }

.slideAdvBox .slideAdv .item .itemName { text-align: center; height: 30px; line-height: 30px; font-size: 14px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; position: absolute; bottom: 0px; height: 30px; color: #fff; background-color: rgba(0, 0, 0, 0.5); width: 218px; }

.slideAdvBox .slideAdv .item:hover .itemName { width: 218px; height: 218px; top: 0px; left: 0px; font-size: 16px; line-height: 218px; }

/* 轮播产品广告 end */
/* 入驻商家 start */
.index_sellers { float: right; width: 190px; background-color: #fff; }

.index_sellers .flag { height: 40px; background-color: #72b1e4; color: #fff; line-height: 40px; padding-left: 10px; font-size: 20px; }

.index_sellers .sellerList .sellerItem { width: 180px; margin: 6px 5px; border: 1px solid #eee; display: block; overflow: hidden; }

.index_sellers .sellerList .sellerItem .name { font-size: 14px; line-height: 2; border-bottom: 1px solid #eee; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 0px 10px; color: #666; }

.index_sellers .sellerList .sellerItem .tel { text-align: center; font-size: 12px; line-height: 2; color: #999; }

.index_sellers .sellerList .sellerItem .other { padding: 0px 2px; white-space: nowrap; overflow: hidden; }

.index_sellers .sellerList .sellerItem .other span { display: inline-block; color: #999; }

.index_sellers .sellerList .sellerItem .other span.count { font-size: 12px; float: left; }

.index_sellers .sellerList .sellerItem .other span.count em { font-style: normal; color: #f60; }

.index_sellers .sellerList .sellerItem .other span.address { width: 91px; text-align: center; float: right; }

.index_sellers .sellerList .sellerItem:hover { border-color: #f60; }

.index_sellers .sellerList .sellerItem:hover .name { color: #f60; }

/* 入驻商家 end */
/* footer start  */
.footer { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin-top: 20px; padding: 20px 0px; }

.footer .footerList { width: 100%; }

.footer .footerList li { float: left; width: 33.33%; min-height: 120px; }

.footer .footerList li .footerTitle { font-size: 18px; margin-top: 20px; color: #888; }

.footer .footerList li a { display: inline-block; font-size: 14px; color: #999; line-height: 2; margin: 0px 10px 0px 0px; }

.footer .footerList li a:hover { color: #f60; }

.webmsg { text-align: center; padding: 10px 0px; font-size: 12px; color: #999; line-height: 2; }

.webmsg img { height: 25px; margin: 10px; }

/* footer end  */
/*标准选择*/
.crumbs { line-height: 2; font-size: 18px; color: #999; }

.crumbs a { color: #999; }

.crumbs a.active { color: #72b1e4; }

.crumbs a:hover { color: #f60; }

.chooseContent { clear: both; overflow: hidden; border: 1px solid #eee; }

.chooseContent .description { border-bottom: 1px solid #eee; padding: 10px; font-size: 16px; line-height: 2; color: #666; }

.chooseContent .flag { padding: 10px; line-height: 2; font-size: 24px; font-weight: bold; background-color: #f8f8f8; border-bottom: 1px solid #eee; text-align: center; color: #72b1e4; }

.chooseContent .benchmark { clear: both; overflow: hidden; }

.chooseContent .tabBtns { height: 30px; line-height: 30px; font-size: 14px; border-bottom: 1px solid #eee; }

.chooseContent .tabBtns .btnDin { padding: 0px 20px; background-color: #72b1e4; display: inline-block; margin: 0px; color: #fff; margin-right: 1px; }

.chooseContent .tabBtns .btnDin:hover, .chooseContent .tabBtns .btnDin.active { background-color: #f60; }

.benchTable { border: 1px solid #eee; width: 100%; border-collapse: collapse; margin-top: 10px; }

.benchTable th { min-height: 30px; line-height: 30px; text-align: center; background-color: #72b1e4; color: #fff; }

.benchTable th:not(:last-child) { border-right: 1px solid #eee; }

.benchTable tr:not(:last-child) { border-bottom: 1px solid #eee; }

.benchTable tr:nth-child(2n) { background-color: #f8f8f8; }

.benchTable td { border-collapse: collapse; min-height: 30px; text-align: center; padding: 4px; border-right: 1px solid #eee; }

.benchTable td:first-child { background-color: rgba(27, 109, 133, 0.5); }

.tabContent { clear: both; overflow: hidden; padding: 10px; }

.tabContent .binTable { width: 100%; border: 1px solid #eee; }

.tabContent .binTable .tableHeader { border-bottom: 1px solid #eee; height: 30px; line-height: 30px; font-size: 14px; background-color: #72b1e4; color: #fff; }

.tabContent .binTable .tableHeader .t { float: left; width: 80px; text-align: center; border-right: 1px solid #fff; }

.tabContent .binTable .tableHeader .d { float: left; width: 677px; text-align: center; }

.tabContent .binTable .tableBody .t-tr { border-bottom: 1px solid #eee; clear: both; overflow: hidden; }

.tabContent .binTable .tableBody .t-tr:last-child { border-bottom: none; }

.tabContent .binTable .tableBody .t-td { padding: 5px 10px; }

.tabContent .binTable .tableBody .t-td.t { float: left; width: 80px; border-right: 1px solid #ddd; text-align: center; padding: 5px 0px; }

.tabContent .binTable .tableBody .t-td.d { float: left; width: 657px; }

.tabContent .binTable .tableBody .t-td.d .c_item { display: inline-block; color: #72b1e4; padding: 0px 5px; }

.tabContent .binTable .tableBody .t-td.d .c_item:hover { color: #f60; }

.tabContent .binTable .tableBody .t-td.d .c_item.active { background-color: #f60; color: #fff; }

.tabContent .binTable .tableBody .t-td.d .c_item.active:hover { color: #fff; }

/* 零件图例 start*/
.bigContent { width: 980px; float: left; padding: 0px 10px; }

.partsImg { border: 1px solid #eee; margin-bottom: 10px; }

.partsImg .name_seller { text-align: left; }

.partsImg .innerTable { width: auto; border: 1px solid #eee; font-size: 16px; border-collapse: collapse; }

.partsImg .innerTable th { font-weight: normal; background-color: #72b1e4; text-align: center; color: #fff; border-right: 1px solid #eee; min-width: 50px; }

.partsImg .innerTable th, .partsImg .innerTable td { padding: 0px 10px; line-height: 30px; }

.partsImg .innerTable td { border-right: 1px solid #eee; text-align: center; }

.partsImg .partInfo { text-align: center; }

.partsImg .imgBox { padding: 10px; clear: both; overflow: hidden; text-align: center; min-height: 120px; }

.partsImg .imgBox img { max-width: 100%; }

.sellers { clear: both; overflow: hidden; width: 100%; border: 1px solid #eee; margin-bottom: 20px; }

.sellers .count_pages { background-color: #f8f8f8; clear: both; overflow: hidden; padding: 0px 10px; }

.sellers .count_pages .count { float: left; font-size: 20px; color: #72b1e4; line-height: 2; }

.sellers .count_pages .count em { color: #f00; font-style: normal; }

.pages { float: right; margin-top: 6px; }

.pages li { display: inline-block; }

.pages li a { height: 24px; line-height: 24px; display: block; border: 1px solid #ddd; background-color: #fff; min-width: 14px; text-align: center; padding: 0px 5px; color: #666; }

.pages li a:hover, .pages li a.active { background-color: #72b1e4; color: #fff; }

.sellers_box { clear: both; overflow: hidden; margin-right: -12px; }

.sellers_box .seller_item { width: 224px; float: left; border: 1px solid #eee; margin: 9px; }

.sellers_box .seller_item .imgBox { width: 224px; height: 224px; display: table-cell; text-align: center; vertical-align: middle; }

.sellers_box .seller_item .money_person { line-height: 2; clear: both; overflow: hidden; padding: 0px 10px; }

.sellers_box .seller_item .money_person .money { float: left; font-size: 16px; color: #f60; }

.sellers_box .seller_item .money_person .person { font-size: 12px; color: #999; line-height: 32px; float: right; }

.sellers_box .seller_item .names { padding: 0px 10px; font-size: 12px; color: #72b1e4; line-height: 1.5; height: 36px; overflow: hidden; }

.sellers_box .seller_item .names .forg { color: #f60; }

.sellers_box .seller_item .company_address { clear: both; overflow: hidden; padding: 5px 10px; }

.sellers_box .seller_item .company_address .company { float: left; color: #999; margin-top: 0px; }

.sellers_box .seller_item .company_address .address { color: #999; float: right; margin-top: 0px; }

.sellers_box .seller_item:hover { -webkit-box-shadow: 0px 5px 5px rgba(99, 99, 99, 0.5); box-shadow: 0px 5px 5px rgba(99, 99, 99, 0.5); border-color: #f60; }

/* 零件图例 end*/
/*卖家网站 start*/
.companyNameBox { width: 1200px; margin: 0px auto; height: 120px; overflow: hidden; clear: both; position: relative; }

.companyNameBox img.bg { width: 100%; }

.companyNameBox .name { position: absolute; height: 30px; line-height: 30px; font-size: 20px; color: #333; top: 50%; margin-top: -15px; width: 100%; text-align: center; }

.companyNameBox .c_slide { position: relative; }

.companyNameBox .c_slide .slidesjs-pagination { position: absolute; width: 100%; text-align: center; bottom: 5px; z-index: 10; }

.companyNameBox .c_slide .slidesjs-pagination li { display: inline-block; height: 5px; width: 20px; background-color: #1b6d85; margin: 0px 4px; }

.companyNameBox .c_slide .slidesjs-pagination li a { display: block; width: 100%; height: 100%; overflow: hidden; line-height: 99; }

.companyNameBox .c_slide .slidesjs-pagination li a.active { background-color: #fff; }

.company { margin-top: 10px; }

.company .leftPart { float: left; width: 240px; }

.company .leftPart .document { border: 1px solid #eee; background-color: #fff; }

.company .leftPart .document .head { padding: 0px 10px; height: 40px; line-height: 40px; color: #fff; background-color: #72b1e4; font-size: 18px; }

.company .leftPart .document .body { padding: 10px; font-size: 14px; line-height: 2; }

.company .leftPart .document .body .flag { color: #f60; font-size: 16px; line-height: 2; border-bottom: 1px dashed #eee; }

.company .leftPart .document .body em { font-style: normal; }

.company .leftPart .document .body .item .d { color: #72b1e4; }

.company .leftPart .document .body .boss em { color: #999; }

.company .leftPart .document .body .gongshang .d { color: #f00; }

.company .leftPart .document .body .gongshang a { color: #72b1e4; }

.company .leftPart .document .body .gongshang a:hover { color: #f60; }

.company .leftPart .document .body .business em { color: #f60; }

.company .leftPart .contact { border: 1px solid #eee; background-color: #fff; margin-top: 10px; margin-bottom: 30px; }

.company .leftPart .contact .head { padding: 0px 10px; height: 40px; line-height: 40px; color: #fff; background-color: #72b1e4; font-size: 18px; }

.company .leftPart .contact .head .more { float: right; font-size: 14px; color: #fff; }

.company .leftPart .contact .head .more:hover { color: #f60; }

.company .leftPart .contact .body { font-size: 14px; line-height: 2; padding: 10px; }

.company .leftPart .contact .body .sm_item { clear: both; overflow: hidden; }

.company .leftPart .contact .body .sm_item .t { float: left; width: 60px; }

.company .leftPart .contact .body .sm_item .d { float: right; width: 158px; }

.company .leftPart .contact .body .contactBtn { display: block; margin: 10px auto; height: 40px; line-height: 40px; color: #fff; background-color: #f90; text-align: center; border-radius: 5px; }

.company .leftPart .contact .body .contactBtn:hover { background-color: #f60; }

.company .rightPart { float: left; width: 940px; margin-left: 20px; }

.company .rightPart .model { margin-top: 0px; margin-bottom: 10px; border: 1px solid #eee; }

.company .rightPart .model .head { height: 40px; line-height: 40px; padding: 0px 10px; color: #72b1e4; font-size: 18px; border-bottom: 2px solid #72b1e4; }

.company .rightPart .model .body { font-size: 14px; clear: both; overflow: hidden; line-height: 2; padding: 10px; }

.company .rightPart .model .body .imgBox { margin: 10px; border: 1px solid #eee; text-align: center; width: 295px; height: 213px; overflow: hidden; }

.company .rightPart .model .body .imgBox.fleft { float: left; }

.company .rightPart .model .body .imgBox.fright { float: right; }

.company .rightPart .model .body p { text-indent: 2em; }

.company .rightPart .product { border: 1px solid #eee; border-collapse: collapse; }

.company .rightPart .product tr:nth-child(2n) { background-color: #f9f9f9; }

.company .rightPart .product td { border-bottom: 1px solid #eee; padding: 5px 10px; }

.company .rightPart .product td:nth-child(2n-1) { width: 150px; background-color: #f8f8f8; }

.company .rightPart .product td:nth-child(2n) { width: 299px; }

.company .rightPart .product .fl { float: left; }

.company .rightPart .product .fr { float: right; }

.partner { background-color: #fff; border: 1px solid #eee; }

.partner .header { height: 40px; background-color: #72b1e4; color: #fff; padding: 0px 10px; font-size: 16px; line-height: 40px; }

.partner .body { padding: 10px; }

.partner .body a { display: inline-block; font-size: 14px; line-height: 2; padding: 0px 20px; color: #999; }

.partner .body a:hover { color: #f60; }

.goodsList { clear: both; overflow: hidden; margin-right: -10px; }

.goodsList .g_item { width: 220px; border: 1px solid #eee; float: left; margin: 4px; }

.goodsList .g_item .img_box { width: 220px; height: 220px; overflow: hidden; }

.goodsList .g_item .img_box img { width: 100%; }

.goodsList .g_item .money { font-size: 20px; color: #f60; padding: 0px 10px; }

.goodsList .g_item .name { padding: 0px 10px; line-height: 1.5; font-size: 12px; color: #666; }

.goodsList .g_item .com_add { font-size: 12px; padding: 0px 10px; color: #999; }

.goodsList .g_item:hover { border-color: #f60; -webkit-box-shadow: 0 5px 5px rgba(100, 100, 100, 0.5); box-shadow: 0 5px 5px rgba(100, 100, 100, 0.5); }

.siteTips { border: 1px solid #eee; border-color: #f60; margin: 10px auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 10px; color: #999; }

.siteTips em { font-style: normal; color: #f60; }

.advs .imgs { width: 33.33333%; float: left; }

.advs .imgs img { width: 100%; }

/* 公司相册 start */
.upImgBox { text-align: center; }

.upImgBox img { max-width: 100%; }

.upImgText { border: 1px solid #eee; font-size: 16px; line-height: 2; padding: 10px; color: #f60; }

.contctImg { width: 100%; height: 80px; }

.com_name { font-size: 20px; color: #f60; line-height: 2; }

.contactUser img { vertical-align: middle; }

.contactUser em { font-style: normal; color: #72b1e4; }

.sawInfo { border-bottom: 5px dashed #eee; padding-bottom: 10px; }

.sawInfo a { display: inline-block; margin-right: 50px; color: #72b1e4; }

.sawInfo a:hover { color: #f60; }

.com_address { clear: both; overflow: hidden; padding: 10px 0px; }

.com_address .imgBox { width: 260px; height: 200px; float: left; padding: 10px; }

.com_address .imgBox img { width: 100%; -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); }

.com_address .com_info { float: left; }

.com_address .com_info p { padding-left: 20px; text-indent: 0em !important; clear: both; overflow: hidden; }

.com_address .com_info p em { font-style: normal; float: left; width: 80px; }

.com_address .com_info p a { color: #72b1e4; }

.com_address .com_info p a:hover { color: #f60; }

.mesgBox .com_flag { font-size: 20px; text-align: center; color: #f60; }

.mesgBox .form_item { clear: both; overflow: hidden; margin-bottom: 10px; margin-top: 20px; }

.mesgBox .form_item .i_n { float: left; width: 100px; padding-left: 100px; line-height: 30px; }

.mesgBox .form_item .i_n em { font-style: normal; color: #f00; }

.mesgBox .form_item .inputBox { border: 1px solid #eee; float: left; }

.mesgBox .form_item .inputBox input, .mesgBox .form_item .inputBox textarea { border: none; min-height: 30px; width: 500px; padding: 0px 10px; outline: none; }

.mesgBox .form_item .inputBox textarea { height: 150px; resize: none; padding: 10px; }

.mesgBox .submitBtn { display: block; width: 150px; background-color: #f90; color: #fff; height: 40px; line-height: 40px; text-align: center; margin: 30px auto; border: 1px solid #f60; font-size: 20px; padding: 0px; outline: none; }

.mesgBox .submitBtn:hover { background-color: #f60; }

/* 公司相册 end */
.m_pages { background-color: #f8f8f8; padding: 0px 10px; }

.m_pages .count { font-size: 18px; line-height: 40px; }

/*卖家网站 end*/
/*管理端界面 start*/
.a_header { height: 70px; position: relative; background-image: url("../images/common/ahead.jpg"); background-repeat: no-repeat; background-size: 100% 100%; }

.a_header .logo { float: left; margin: 18px 10px; color: #fff; font-size: 28px; line-height: 30px; }

.a_header .logo img { vertical-align: middle; max-height: 30px; margin-right: 10px; }

.a_header .user { color: #fff; font-size: 20px; line-height: 30px; margin-top: 20px; margin-left: 30px; }

.a_header .tel { float: right; line-height: 30px; margin-top: 20px; font-size: 20px; color: #fff; margin-right: 10px; }

.a_topBar { height: 35px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background-image: url("../images/common/topbg.jpg"); clear: both; overflow: hidden; }

.a_topBar .a { width: 200px; float: left; line-height: 35px; padding-left: 20px; font-size: 22px; font-weight: bold; text-align: left; }

.a_topBar .crumb_todo { float: left; margin-left: 10px; line-height: 35px; }

.a_topBar .crumb_todo a { color: #999; font-size: 16px; }

.a_topBar .crumb_todo a:hover, .a_topBar .crumb_todo a.active { color: #72b1e4; }

.a_topBar .todo { float: right; }

.a_topBar .todo a { display: inline-block; padding: 0px 10px; margin-left: 30px; line-height: 35px; color: #666; font-size: 16px; }

.a_topBar .todo a:hover { color: #f60; }

.a_menu { width: 200px; background-color: #eceeed; border: 1px solid #eee; float: left; }

.a_menu .a_menu_item { width: 180px; border: 1px solid #eee; margin: 10px auto; }

.a_menu .a_menu_item .am_head { background-image: url("../images/common/am_top.jpg"); width: 100%; background-repeat: no-repeat; background-size: 100% 35px; height: 35px; color: #fff; font-size: 18px; line-height: 35px; padding-left: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.a_menu .a_menu_item .am_body { clear: both; overflow: hidden; background-color: #fff; border: 1px solid #ddd; padding: 10px; }

.a_menu .a_menu_item .am_body .am_item { display: block; height: 30px; line-height: 30px; position: relative; background-image: url("../images/common/am_bg.jpg"); background-repeat: no-repeat; background-size: 100% 100%; margin-bottom: 10px; font-size: 14px; }

.a_menu .a_menu_item .am_body .am_item::before { content: ""; width: 10px; height: 10px; background-image: url("../images/common/i_icon.jpg"); display: block; overflow: hidden; background-size: contain; background-repeat: no-repeat; float: left; margin: 10px 5px; }

.a_menu .a_menu_item .am_body .am_item:hover, .a_menu .a_menu_item .am_body .am_item.active { background-image: url("../images/common/am_active.jpg"); }

.a_menu .a_menu_item .am_body .am_item:hover:before, .a_menu .a_menu_item .am_body .am_item.active:before { background-image: url("../images/common/i_active.jpg"); }

.a_menu .a_menu_item .am_body .am_item span { display: inline-block; width: 8px; height: 8px; border-radius: 100%; }

.a_menu .a_menu_item .am_body .am_item span.red { background-color: #f00; }

.a_menu .a_menu_item .am_body .am_item span.blue { background-color: #2aabd2; }

.a_content { float: left; width: 996px; background-color: #fff; min-height: 1391px; border: 1px solid #eee; padding-bottom: 200px; position: relative; }

.a_content .ac_top { height: 50px; line-height: 50px; color: #666; border-bottom: 2px solid #72b1e4; text-align: center; font-size: 20px; }

.a_content .ac_content { padding: 10px 0px 10px 10px; }

.a_content .ac_content label { float: left; text-align: center; width: 148px; border: 1px solid #eee; margin-right: 14px; margin-bottom: 20px; }

.a_content .ac_content label .gc_img { width: 148px; height: 120px; overflow: hidden; }

.a_content .ac_content label .gc_img img { width: 100%; max-height: 185px; }

.a_content .ac_content label .cn { height: 30px; background-color: #72b1e4; color: #fff; line-height: 30px; font-size: 14px; }

.a_content .ac_content label:hover { border-color: #f60; }

.btnBox { text-align: center; }

.btnBox .btn { font-size: 16px; color: #fff; display: inline-block; height: 40px; line-height: 40px; width: 180px; margin: 20px 20px; border: 1px solid #f90; outline: none; }

.btnBox .btn.normal { background-color: #f90; }

.btnBox .btn.normal:hover { background-color: #f60; }

.a_footer { height: 150px; position: absolute; bottom: 0px; text-align: center; width: 100%; background-color: #72b1e4; line-height: 2; color: #fff; font-size: 14px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 30px; }

.ap_count_pages { clear: both; overflow: hidden; padding-right: 10px; border: 1px solid #eee; padding-bottom: 5px; margin-right: 10px; background-color: #f8f8f8; }

.ap_count_pages .count { font-size: 18px; color: #f60; padding-left: 10px; margin-top: 7px; float: left; }

.ap_list { border-right: 1px solid #eee; border-left: 1px solid #eee; margin-right: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 10px; clear: both; overflow: hidden; }

.ap_list .ap_item { float: left; width: 220px; border: 1px solid #eee; margin: 8px; height: 325px; }

.ap_list .ap_item .ap_img { width: 220px; height: 220px; overflow: hidden; }

.ap_list .ap_item .ap_img img { vertical-align: middle; width: 100%; }

.ap_list .ap_item .ap_mc { clear: both; overflow: hidden; padding: 0px 10px; }

.ap_list .ap_item .ap_mc .m { font-size: 16px; color: #f60; float: left; line-height: 32px; }

.ap_list .ap_item .ap_mc .c { float: right; color: #999; font-size: 12px; line-height: 32px; }

.ap_list .ap_item .ap_name { line-height: 1.5; font-size: 12px; padding: 0px 10px; }

.ap_list .ap_item .ap_name em { font-style: normal; color: #f60; }

.ap_list .ap_item .ap_c_a { clear: both; overflow: hidden; padding: 10px; }

.ap_list .ap_item .ap_c_a .c { font-size: 12px; color: #999; float: left; }

.ap_list .ap_item .ap_c_a .a { float: right; color: #999; }

.ap_list .ap_item:hover { border-color: #f60; -webkit-box-shadow: 0px 5px 5px rgba(100, 100, 100, 0.5); box-shadow: 0px 5px 5px rgba(100, 100, 100, 0.5); }

/* 编辑 */
.edit { clear: both; overflow: hidden; }

.edit .leftEdit { float: left; width: 700px; }

.edit .leftEdit .a_formItem { clear: both; overflow: hidden; height: 40px; line-height: 40px; margin-bottom: 5px; }

.edit .leftEdit .a_formItem span { display: inline-block; width: 80px; font-size: 14px; }

.edit .leftEdit .a_formItem input[type="text"] { height: 25px; line-height: 25px; padding: 0px 10px; outline: none; width: 420px; }

.edit .leftEdit .a_formItem label { display: inline-block; text-align: left; float: none; width: auto; margin: 0px; line-height: 30px; padding: 0px 10px; }

.edit .leftEdit .a_formItem label input[type="text"] { width: 120px; height: 16px; }

.edit .rightShow { width: 250px; float: left; }

.edit .rightShow .ap_item { width: 220px; border: 1px solid #eee; }

.edit .rightShow .ap_item .ap_img { width: 220px; height: 220px; overflow: hidden; }

.edit .rightShow .ap_item .ap_img img { width: 100%; }

.edit .rightShow .ap_item .ap_mc { height: 30px; line-height: 30px; padding: 0px 10px; }

.edit .rightShow .ap_item .ap_mc .m { float: left; font-size: 20px; color: #f60; }

.edit .rightShow .ap_item .ap_mc .c { color: #999; float: right; }

.edit .rightShow .ap_item .ap_name { padding: 0px 10px; font-size: 12px; }

.edit .rightShow .ap_item .ap_name em { font-style: normal; color: #f60; line-height: 2; }

.edit .rightShow .ap_item .ap_c_a { line-height: 2; color: #999; clear: both; overflow: hidden; padding: 0px 10px; }

.edit .rightShow .ap_item .ap_c_a .c { float: left; }

.edit .rightShow .ap_item .ap_c_a .a { float: right; }

.chooseImgBox { border: 1px solid #eee; width: 954px; margin-top: 20px; background-color: #f8f8f8; padding: 0px 10px; height: 40px; line-height: 40px; }

.chooseImgBox .chooseTip { float: left; font-size: 24px; color: #72b1e4; }

.chooseImgBox .chooseTip em { font-style: normal; margin: 0px 10px; color: #f60; }

.chooseImgBox .inputForm { float: left; margin-left: 10px; }

.chooseImgBox .inputForm input { height: 32px; line-height: 28px; font-size: 14px; padding: 0px; vertical-align: top; margin-top: 5px; }

.systemImgList { clear: both; overflow: hidden; padding: 0px 40px; position: relative; border: 1px solid #eee; margin-top: -1px; width: 894px; }

.systemImgList .leftP, .systemImgList .rightP { position: absolute; height: 250px; width: 40px; background-color: #f8f8f8; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-orient: vertical; -webkit-box-direction: normal; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; text-align: center; font-size: 30px; color: #72b1e4; }

.systemImgList .leftP:hover, .systemImgList .rightP:hover { background-color: #72b1e4; color: #f60; }

.systemImgList .leftP { left: 0px; }

.systemImgList .rightP { right: 0px; }

.systemImgList .innerbox { width: 100%; height: 250px; overflow: hidden; position: relative; }

.systemImgList .innerbox .imgLi { position: absolute; left: 0px; top: 0px; }

.systemImgList .innerbox .imgLi label { width: 285px; margin-right: 15px; float: left; overflow: hidden; margin-top: 3px; }

.systemImgList .innerbox .imgLi label .img { width: 286px; height: 220px; text-align: center; }

.systemImgList .innerbox .imgLi label .img img { width: 100%; max-height: 220px; }

/*管理端界面 end*/
