@charset "UTF-8";
/* common start  */
html, body { position: relative; margin: 0px; padding: 0px; font-size: 12px; color: #333; background-color: #F7F7F7; }

.iconfont { line-height: inherit; font-size: inherit; }

p { padding: 0px; margin: 0px; }

a, a:hover, a:active { text-decoration: none; }

.fl { float: left; }

.fr { float: right; }

.clearAll { clear: both; overflow: hidden; }

.container { width: 1200px; margin: 0 auto; }

ul { margin: 0px; padding: 0px; list-style: none; }

/* common end */
.topAdv { width: 100%; min-width: 1200px; clear: both; overflow: hidden; }

.topAdv .topImg { width: 1200px; margin: 0 auto; clear: both; overflow: hidden; position: relative; }

.topAdv .topImg img { width: 100%; }

.topAdv .topImg .closeBtn { position: absolute; top: 0px; right: 0px; height: 30px; width: 30px; background-color: rgba(0, 0, 0, 0.5); color: #fff; line-height: 30px; text-align: center; font-size: 20px; }

.topAdv .topImg .closeBtn:hover { background-color: black; text-decoration: none; }

/*top bar */
.topBar { height: 30px; line-height: 30px; width: 100%; clear: both; overflow: hidden; background: #f1f1f1; border-bottom: 1px solid #f3f3f3; }

.topBar .toLogin { color: red; margin: 0 10px; }

.topBar .na { color: #333; }

.topBar .na:hover { color: #3a95e7; }

.topBar .topA .na { display: inline-block; padding: 0px 7px; position: relative; }

.topBar .topA .na:not(:last-child):after { content: "|"; position: absolute; color: #999; right: 0px; }

/* logo and search start */
.logo_search { height: 60px; padding: 10px 0px; margin: 0 auto; background-color: #fff; }

.logo_search .mainLogo { float: left; height: 50px; margin: 5px 0px; width: 25%; }

.logo_search .mainLogo img { height: 50px; float: left; }

.logo_search .mainLogo .service { float: left; margin-left: 10px; color: #999; }

.logo_search .mainLogo .service .text { font-size: 14px; line-height: 2; }

.logo_search .mainLogo .service .number { font-size: 14px; }

.logo_search .searchBox { width: 50%; float: left; }

.logo_search .searchBox .searchGroup { margin: 0 auto; width: 500px; height: 40px; padding-top: 10px; }

.logo_search .searchBox .searchGroup .searchBefore { float: left; width: 150px; line-height: 40px; text-align: center; }

.logo_search .searchBox .searchGroup .searchBefore em { float: left; width: 71px; overflow: hidden; font-style: normal; line-height: 38px; border: 1px solid #eee; color: #f60; }

.logo_search .searchBox .searchGroup .searchBefore i { float: left; width: 4px; }

.logo_search .searchBox .searchGroup .searchInput { height: 36px; float: left; border: 2px solid #3c76df; width: 306px; }

.logo_search .searchBox .searchGroup .searchInput input { width: 286px; border: 0px; outline: none; height: 36px; padding: 0px 10px; }

.logo_search .searchBox .searchGroup .searchBtn { float: left; height: 40px; background-color: #3c76df; width: 40px; color: #fff; text-align: center; line-height: 40px; font-size: 18px; }

.logo_search .searchBox .searchGroup .searchBtn:hover { background-color: #2259be; }

.logo_search .buySaller { float: left; width: 25%; text-align: right; padding-top: 10px; }

.logo_search .buySaller .car { border: 1px solid #eee; display: inline-block; height: 40px; line-height: 40px; padding: 0px 10px; font-size: 16px; color: #f60; }

.logo_search .buySaller .car span { font-size: 12px; display: inline-block; background-color: #f60; color: #fff; width: 20px; height: 20px; border-radius: 100%; text-align: center; line-height: 20px; }

.logo_search .buySaller .car:hover { -webkit-transition: background-color 0.5s; transition: background-color 0.5s; background-color: rgba(200, 200, 200, 0.7); }

/* logo and search end */
/* menu box start */
.menu { clear: both; background-color: #3c76df; width: 100%; color: #fff; min-width: 1200px; }

.menu .menuInner { width: 1200px; }

.menu .menuInner li { display: inline-block; vertical-align: bottom; }

.menu .menuInner li.classFlag { width: 200px; position: relative; }

.menu .menuInner li.classFlag .className { height: 40px; line-height: 40px; font-size: 15px; text-align: center; background-color: #2259be; }

.menu .menuInner li.classFlag:hover .classBox { display: block; }

.menu .menuInner li.classFlag .classBox { position: absolute; width: 200px; z-index: 20; background-color: rgba(0, 0, 0, 0.5); display: none; }

.menu .menuInner li.classFlag .classBox li { clear: both; overflow: hidden; height: 30px; line-height: 30px; width: 100%; display: block; margin-bottom: 1px; }

.menu .menuInner li.classFlag .classBox li .classItem { display: block; padding-left: 30px; color: #fff; position: relative; font-size: 14px; }

.menu .menuInner li.classFlag .classBox li .classItem img { width: 16px; margin-right: 5px; vertical-align: middle; }

.menu .menuInner li.classFlag .classBox li .classItem:hover, .menu .menuInner li.classFlag .classBox li .classItem.active { background-color: #fff; color: #333; }

.menu .menuInner li.classFlag .classBox li .classItem:hover:after, .menu .menuInner li.classFlag .classBox li .classItem.active:after { content: ">"; position: absolute; right: 10px; }

.menu .menuInner li.classFlag .classBox li .newClass { display: block; height: 30px; line-height: 30px; text-align: center; background-color: #f60; color: #fff; border-radius: 4px; width: 80%; margin: 10px auto; }

.menu .menuInner li.classFlag .classBox li .newClass:hover { background-color: #f90; }

.menu .menuInner li.menuItem { position: relative; }

.menu .menuInner li.menuItem a { display: block; color: #fff; padding: 0px 15px; line-height: 40px; height: 40px; font-size: 14px; background-color: rgba(34, 89, 190, 0); }

.menu .menuInner li.menuItem a:hover { -webkit-transition: background-color 0.3s; transition: background-color 0.3s; background-color: #2259be; }

.menu .menuInner li.menuItem:hover .secondMenu { display: block; }

.menu .menuInner li.menuItem .secondMenu { position: absolute; display: none; z-index: 20; }

.menu .menuInner li.menuItem .secondMenu li { display: block; height: 40px; }

.menu .menuInner li.menuItem .secondMenu li a { display: block; line-height: 40px; width: 80px; background-color: #3c76df; }

.menu .menuInner li.menuItem .secondMenu li a:hover { background-color: #2259be; }

.menu .aboutBtn { position: absolute; height: 40px; line-height: 40px; color: #fff; top: 0px; right: 0px; }

.menu .aboutBtn:hover { color: #f60; }

/* menu box end */
/* 轮播图片和推广 start */
.slider { width: 960px; float: left; height: 330px; overflow: hidden; position: relative; }

.slider .slidesjs-navigation { display: none; }

.slider .slidesjs-pagination { position: absolute; bottom: 10px; text-align: center; width: 100%; }

.slider .slidesjs-pagination .slidesjs-pagination-item { display: inline-block; width: 10px; height: 10px; border-radius: 10px; padding: 3px; background-color: #3c76df; margin: 0px 5px; line-height: 100; overflow: hidden; }

.slider .slidesjs-pagination .slidesjs-pagination-item a { display: block; overflow: hidden; }

.slider .slidesjs-pagination .slidesjs-pagination-item a.active { background-color: #fff; height: 10px; width: 10px; border-radius: 10px; }

.smAdv { width: 220px; float: left; height: 330px; padding-left: 20px; background-color: #fff; }

.smAdv .advItem { display: block; width: 220px; height: 100px; margin-top: 10px; line-height: 100px; text-align: center; font-size: 24px; color: #fff; -webkit-box-shadow: 0px 5px 5px rgba(200, 200, 200, 0.4); box-shadow: 0px 5px 5px rgba(200, 200, 200, 0.4); }

/* 轮播图片和推广 end */
/* 首页推广产品列表 start */
.goodList { clear: both; overflow: hidden; }

.goodList .goodItem { float: left; width: 190px; height: 220px; overflow: hidden; margin: 20px 10px 0px 0px; border: 1px solid transparent; background-color: #fff; }

.goodList .goodItem .goodImg { width: 190px; height: 190px; }

.goodList .goodItem .goodImg img { width: 100%; }

.goodList .goodItem .goodName { line-height: 30px; font-size: 14px; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #333; }

.goodList .goodItem:hover { -webkit-box-shadow: 0px 5px 5px rgba(200, 200, 200, 0.7); box-shadow: 0px 5px 5px rgba(200, 200, 200, 0.7); border-color: #3c76df; }

.goodList .goodItem:hover .goodName { color: #3c76df; }

/* 首页推广产品列表 end */
/* 询价表哥 start */
.model { background-color: #fff; margin-top: 20px; }

.model.m60 { float: left; width: 710px; }

.model.m40 { float: right; width: 470px; }

.model .modelTop { height: 40px; background-color: #3c76df; color: #fff; padding: 0px 10px; line-height: 40px; font-size: 16px; clear: both; overflow: hidden; }

.model .modelTop a { float: right; font-size: 14px; color: #fff; }

.model .modelTop a:hover { color: #f60; }

.model .modelTable { width: 100%; }

.model .modelTable tr:nth-child(2n) { background-color: #f9f9f9; }

.model .modelTable tr:first-child td { color: #3c76df; font-size: 14px; }

.model .modelTable tr:first-child td:last-child, .model .modelTable tr:first-child td:first-child { color: #333; }

.model .modelTable tr:hover { background-color: #F7F7F7; }

.model .modelTable td { height: 30px; line-height: 30px; text-align: center; }

.model .modelTable td a { color: #f60; }

.model .modelTable td a:hover { color: #f90; }

/* 询价表哥 start */
/*  产品说明 tab start */
.modelTab { background-color: #fff; margin-top: 20px; }

.modelTab .tabHeader { height: 30px; line-height: 30px; border-bottom: 1px solid #eee; }

.modelTab .tabHeader a { display: inline-block; padding: 0px 15px; font-size: 16px; color: #333; }

.modelTab .tabHeader a:hover, .modelTab .tabHeader a.active { background-color: #3c76df; color: #fff; }

.modelTab .tabBody { padding: 10px; font-size: 14px; line-height: 2; }

/*  产品说明 tab end */
/* 轮播产品广告 start */
.slideAdvBox { margin-top: 20px; background-color: #fff; }

.slideAdvBox .slideName { height: 212px; width: 50px; float: left; background-color: #3c76df; word-wrap: break-word; font-size: 20px; text-align: center; padding-top: 20px; }

.slideAdvBox .slideName span { display: block; text-align: center; line-height: 2; color: #fff; }

.slideAdvBox .slideAdv { float: left; width: 1150px; height: 232px; overflow: hidden; background-color: #fff; }

.slideAdvBox .slideAdv .item { float: left; border: 1px solid transparent; width: 230px; }

.slideAdvBox .slideAdv .item .img { width: 230px; height: 200px; }

.slideAdvBox .slideAdv .item .itemName { text-align: center; height: 30px; line-height: 30px; font-size: 14px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.slideAdvBox .slideAdv .item:hover { color: #3c76df; border-color: #3c76df; }

/* 轮播产品广告 end */
/*footer start */
.footer { background-color: #eee; background-image: url("../images/common/footer.jpg"); margin-top: 30px; }

.footer .footerList { clear: both; overflow: hidden; width: 100%; background-image: url("../images/common/footer.png"); background-position: center; background-repeat: no-repeat; background-size: cover; text-align: center; height: 180px; }

.footer .footerList li { display: inline-block; text-align: left; vertical-align: top; padding: 20px 0px; width: 33%; }

.footer .footerList li .footerTitle { font-size: 20px; color: #fff; line-height: 2; }

.footer .footerList li a { display: block; color: #fff; line-height: 2; }

.footer .footerList li a:hover { color: #f60; }

.footer .webmsg { text-align: center; height: 30px; line-height: 30px; color: #aaa; margin-top: 10px; }

.footer .webmsg img { height: 16px; }

/*footer end */
