@charset "UTF-8";
.a_header{
    height: 70px;
    position: relative;
    background-image: url("../images/common/ahead.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .logo{
        float: left;
        margin: 18px 10px;
        img{
            vertical-align: middle;
            max-height: 30px;
            margin-right: 10px;
        }
        color: #fff;
        font-size: 28px;
        line-height: 30px;
    }
    .user{
        color: #fff;
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;
        margin-left: 30px;
    }
    .tel{
        float: right;
        line-height: 30px;
        margin-top:20px;
        font-size: 20px;
        color: #fff;
        margin-right: 10px;
    }
}
.a_topBar{
    height: 35px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-image: url("../images/common/topbg.jpg");
    clear: both;
    overflow: hidden;
    .a{
        width: 200px;
        float: left;
        line-height: 35px;
        padding-left: 20px;
        font-size: 22px;
        font-weight: bold;
        text-align: left;
    }
    .crumb_todo{
        float: left;
        margin-left: 10px;
        line-height: 35px;
        a{
            color: #999;
            font-size: 16px;
            &:hover,&.active{
                color: $baseColor;
            }
        }
    }
    .todo{
        float: right;
        a{
            display: inline-block;
            padding: 0px 10px;
            margin-left: 30px;
            line-height: 35px;
            color: #666;
            font-size: 16px;
            &:hover{
                color: $orange;
            }
        }
    }
}
.a_menu{
    width: 200px;
    background-color: #eceeed;
    border: 1px solid #eee;
    float: left;
    .a_menu_item{
        width: 180px;
        border: 1px solid #eee;
        margin: 10px auto;
        .am_head{
            background-image: url("../images/common/am_top.jpg");
            width: 100%;
            background-repeat: no-repeat;
            background-size: 100% 35px;
            height: 35px;
            color: #fff;
            font-size: 18px;
            line-height: 35px;
            padding-left: 30px;
            box-sizing: border-box;
        }
        .am_body{
            clear: both;
            overflow: hidden;
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 10px;
            .am_item{
                display: block;
                height: 30px;
                line-height: 30px;
                position: relative;
                background-image: url("../images/common/am_bg.jpg");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                margin-bottom: 10px;
                font-size: 14px;
                &::before{
                    content: "";
                    width: 10px;
                    height: 10px;
                    background-image: url("../images/common/i_icon.jpg");
                    display: block;
                    overflow: hidden;
                    background-size: contain;
                    background-repeat: no-repeat;
                    float: left;
                    margin: 10px 5px;
                }
                &:hover,&.active{
                    background-image: url("../images/common/am_active.jpg");
                    &:before{
                        background-image:url("../images/common/i_active.jpg");
                    }
                }
                span{
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    &.red{
                        background-color: #f00;
                    }
                    &.blue{
                        background-color: #2aabd2;
                    }
                }
            }
        }
    }
}
.a_content{
    float: left;
    width: 996px;
    background-color: #fff;
    min-height: 1391px;
    border: 1px solid #eee;
    padding-bottom: 200px;
    position: relative;
    .ac_top{
        height: 50px;
        line-height: 50px;
        color: #666;
        border-bottom: 2px solid $baseColor;
        text-align: center;
        font-size: 20px;
    }
    .ac_content{
        padding: 10px 0px 10px 10px;
        label{
            float: left;
            text-align: center;
            width: 148px;
            border: 1px solid #eee;
            margin-right: 14px;
            margin-bottom: 20px;
            .gc_img{
                width: 148px;
                height: 120px;
                overflow: hidden;
                img{
                    width: 100%;
                    max-height: 185px;
                }
            }
            .cn{
                height: 30px;
                background-color: $baseColor;
                color: #fff;
                line-height: 30px;
                font-size: 14px;
            }
            &:hover{
                border-color: $orange;
            }
        }
    }
}
.btnBox{
    text-align: center;
    .btn{
        font-size: 16px;
        color: #fff;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        width: 180px;
        margin: 20px 20px;
        border: 1px solid #f90;
        outline: none;
        &.normal{
            background-color: #f90;
            &:hover{
                background-color: $orange;
            }
        }
    }
}
.a_footer{
    height: 150px;
    position: absolute;
    bottom:0px;
    text-align: center;
    width: 100%;
    background-color: $baseColor;
    line-height: 2;
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    padding: 30px ;
}
.ap_count_pages{
    clear: both;
    overflow: hidden;padding-right: 10px;
    border: 1px solid #eee;
    padding-bottom: 5px;
    margin-right: 10px;
    background-color: #f8f8f8;
    .count{
        font-size: 18px;
        color: $orange;
        padding-left: 10px;
        margin-top: 7px;
        float: left;
    }
}
.ap_list{
    border-right:1px solid #eee;
    border-left:1px solid #eee;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 10px;
    clear: both;
    overflow: hidden;
    .ap_item{
        float: left;
        width: 220px;
        border: 1px solid #eee;
        margin: 8px;
        height: 325px;
        .ap_img{
            width: 220px;
            height: 220px;
            overflow: hidden;
            img{
                vertical-align: middle;
                width: 100%;
            }
        }
        .ap_mc{
            clear: both;
            overflow: hidden;
            padding: 0px 10px;
            .m{
                font-size: 16px;
                color: $orange;
                float: left;
                line-height: 32px;
            }
            .c{
                float: right;
                color: #999;
                font-size: 12px;
                line-height: 32px;
            }
        }
        .ap_name{
            line-height: 1.5;
            font-size: 12px;
            padding: 0px 10px;
            em{
                font-style: normal;
                color: $orange;
            }
        }
        .ap_c_a{
            clear: both;
            overflow: hidden;
            padding: 10px;
            .c{
                font-size: 12px;
                color: #999;
                float: left;
            }
            .a{
                float: right;
                color: #999;
            }
        }
        &:hover{
            border-color: $orange;
            box-shadow: 0px 5px 5px rgba(100,100,100,0.5);
        }
        &.cho{
            height: 355px;
            .chooseThis{
                border: none;
                clear: both;
                width: 100%;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background-color: #f8f8f8;
            }
        }
    }
}
/* 编辑 */
.edit{
    clear: both;
    overflow: hidden;
    .leftEdit{
        float: left;
        width: 700px;
        .a_formItem{
            clear: both;
            overflow: hidden;
            height: 40px;
            line-height: 40px;
            margin-bottom: 5px;
            span{
                display: inline-block;
                width: 80px;
                font-size: 14px;
            }
            input[type="text"]{
                height: 25px;
                line-height: 25px;
                padding: 0px 10px;
                outline: none;
                width: 420px;
            }
            label{
                display: inline-block;
                text-align: left;
                float: none;
                width: auto;
                margin: 0px;
                line-height: 30px;
                padding: 0px 10px;
                input[type="text"]{
                    width: 120px;
                    height: 16px;
                }
            }
        }
    }
    .rightShow{
        width: 250px;
        float: left;
        .ap_item{
            width: 220px;
            border: 1px solid #eee;
            .ap_img{
                width: 220px;
                height: 220px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
            .ap_mc{
                height: 30px;
                line-height: 30px;
                padding: 0px 10px;
                .m{
                    float: left;
                    font-size: 20px;
                    color: $orange;
                }
                .c{
                    color: #999;
                    float: right;
                }
            }
            .ap_name{
                padding: 0px 10px;
                font-size: 12px;
                em{
                    font-style: normal;
                    color: $orange;
                    line-height: 2;
                }
            }
            .ap_c_a{
                line-height: 2;
                color: #999;
                clear: both;
                overflow: hidden;
                padding: 0px 10px;
                .c{float: left}
                .a{
                    float: right;
                }
            }
        }
    }
}
.chooseImgBox{
    border: 1px solid #eee;
    width: 954px;
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 0px 10px;
    height: 40px;
    line-height: 40px;
    .chooseTip{
        float: left;
        font-size: 24px;
        color: $baseColor;
        em{
            font-style: normal;
            margin: 0px 10px;
            color: $orange;
        }
    }
    .inputForm{
        float: left;
        margin-left: 10px;
        input{
            height: 32px;
            line-height: 28px;
            font-size: 14px;
            padding: 0px;
            vertical-align: top;
            margin-top: 5px;
        }
    }
}
.systemImgList{
    clear: both;
    overflow: hidden;
    padding: 0px 40px;
    position: relative;
    border: 1px solid #eee;
    margin-top: -1px;
    width: 894px;
    .leftP,.rightP{
        position: absolute;
        height: 250px;
        width: 40px;
        background-color: #f8f8f8;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        font-size: 30px;
        color: $baseColor;
        &:hover{
            background-color: $baseColor;
            color: $orange;
        }
    }
    .leftP{
        left: 0px;
    }
    .rightP{
        right: 0px;
    }
    .innerbox{
        width: 100%;
        height: 250px;
        overflow: hidden;
        position: relative;
        .imgLi{
            position: absolute;
            left: 0px;
            top:0px;
            label{
                width: 285px;
                margin-right: 15px;
                float: left;
                overflow: hidden;
                margin-top: 3px;
                .img{
                    width: 286px;
                    height: 220px;
                    text-align: center;
                    img{
                        width: 100%;
                        max-height: 220px;
                    }
                }
            }
        }
    }
}
/*付费模块*/
.payment{
    padding: 0px 100px;
    .p_item{
        height: 30px;
        line-height: 30px;
        margin-bottom: 10px;
        font-size: 16px;
        span:first-child{
            display: inline-block;
            width: 80px;
        }
        input{
            height: 30px;
            border: 1px solid #eee;
            padding: 0px 10px;
            font-size: 16px;
            color: $orange;
        }
        .danwei{
            color: $baseColor;
            em{
                font-style: normal;
                color: #ff0000;
                font-size: 14px;
            }
        }
    }
}
.dopay{
    clear: both;
    overflow: hidden;
    border: 1px solid #eee;
    width: 954px;
    padding: 0px 10px;
    margin: 30px 0px;
    .head{
        text-align: center;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        font-weight: bold;
        color: #999;
    }
    .code{
        clear: both;
        overflow: hidden;
        .halfCode{
            width: 50%;
            text-align: center;
            float: left;
            .codeBox{
                display: inline-block;
                width: 150px;
                height: 150px;
                overflow: hidden;
                border: 1px solid #eee;
                border-radius: 3px;
                padding: 5px;
                img{
                    width: 100%;
                }
            }
        }
    }
    .countMoney{
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
        em{
            font-size: 30px;
            font-style: normal;
            color: $orange;
        }
    }
}
.gongsijieshao{
    width: 970px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #eee;
    height: 200px;
    resize: none;
    border-radius: 5px;
}
.c_tip{
    padding: 10px;
    width: 947px;
    border: 1px solid #ee5d48;
    font-size: 20px;
    color: $orange;
    background-color: rgba(238,93,72,0.2);
}
.editTable{
    .product{
        width: 969px;
        margin-top: 20px;
        .table_input{
            width: 200px;
        }
    }
}