@charset "UTF-8";
/* common start  */
$baseColor:#72b1e4;
$borderColor:#b8cad8;
html,body{
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color: #333;
  background-color: #F7F7F7;
}
.iconfont{
  line-height: inherit;
  font-size: inherit;
}
p{
  padding: 0px;
  margin: 0px;
}
a,a:hover,a:active{
  text-decoration: none;
}
.fl{
  float: left;
}
.fr{
  float:right;
}
.clearAll{
  clear: both;
  overflow: hidden;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* common end */

.topAdv{
  width: 100%;
  min-width: 1200px;
  clear: both;
  overflow: hidden;
  .topImg{
    width: 1200px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    position: relative;
    img{
      width: 100%;
    }
    .closeBtn{
      position: absolute;
      top:0px;
      right:0px;
      height: 16px;
      width: 16px;
      background-color: rgba(0,0,0,0.5);
      color: #fff;
      line-height: 16px;
      text-align: center;
      font-size: 12px;
      border-radius: 3px;
      &:hover{
        background-color: rgba(0,0,0,8);
        text-decoration: none;
      }
    }
  }
}

/*top bar */
.topBar{
  height: 30px;
  line-height: 30px;
  width: 100%;
  clear: both;
  overflow: hidden;
  background: #f1f1f1;
  border-bottom: 1px solid #f3f3f3;
  .toLogin{
    color: red;
    margin: 0 10px;
  }
  .na{
    color: #333;
    &:hover{
      color: #3a95e7;
    }
  }
  .topA{
    .na{
      display: inline-block;
      padding: 0px 7px;
      position: relative;
      &:not(:last-child)::after{
        content: "";
        position: absolute;
        color: #999;
        right: 0px;
        height: 30px;
        top:0px;
        width: 1px;
        background-color: #c8c8c8;
      }
    }
  }
}
/* logo and search start */
.logo_search{
  height: 50px;
  padding: 10px 0px;
  margin: 0 auto;
  background-color: #fff;
  .mainLogo{
    float: left;
    height: 50px;
    margin: 5px 0px;
    width: 25%;
    img{
      height: 40px;
      float: left;
    }
    .service{
      float: left;
      margin-left: 10px;
      color: #999;
      .text{
        font-size: 14px;
        line-height: 1.5;
      }
      .number{
        font-size: 14px;
        line-height: 1.5;
        color: #f60;
      }
    }
  }
  .searchBox{
    width: 50%;
    float: left;
    text-align: center;
    .searchCondition{
      height: 28px;
      line-height: 28px;
      width: 80px;
      border: 1px solid #f60;
      color: #f60;
      display: inline-block;
      margin: 10px;
      position: relative;
      padding-right: 30px;
      vertical-align: middle;
      border-radius: 3px;
      &::after{
        content: "";
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        background-image: url("../images/common/down.png");
        background-size: 90%;
        background-repeat: no-repeat;
        top:10px;
        right: 10px;
      }
    }
    .searchBtn{
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 30px;
      color: #fff;
      border-radius: 3px;
      background-color: #f60;
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
      &:hover{
        background-color: #f90;
      }
    }
  }
  .buySaller {
    float: left;
    width: 25%;
    text-align: right;
    padding-top: 10px;
    .buyItem{
      border: 1px solid #f60;
      display: inline-block;
      height: 28px;
      line-height: 28px;
      padding: 0px 10px;
      font-size: 14px;
      color: #f60;
      margin-left: 20px;
      &:hover{
        background-color: #f60;
        color: #fff;
      }
    }
  }
}
/* logo and search end */
/* menu box start */
.menu{
  clear: both;
  //height: 40px;
  background-color: #72b1e4;
  width: 100%;
  color: #fff;
  min-width: 1200px;
  .menuInner{
    width: 1200px;
    li{
      display: inline-block;
      vertical-align: bottom;
      &.menuItem{
        position: relative;
        a{
          display: block;
          color: #fff;
          line-height: 40px;
          height: 40px;
          font-size: 14px;
          background-color: rgba(35,140,225,0);
          text-align: center;
          width: 100px;
          &:hover{
            transition:  background-color 0.3s;
            background-color: rgba(35,140,225,1);
          }
        }
        &.active{
          background-color: rgba(35,140,225,1);
        }
        &:hover{
          .secondMenu{
            display: block;
          }
        }
        .secondMenu{
          position: absolute;
          display: none;
          z-index: 20;
          li{
            display: block;
            height: 40px;
            a{
              display: block;
              line-height: 40px;
              width: 100px;
              background-color: #72b1e4;
              &:hover{
                background-color: rgba(35,140,225,1);
              }
            }
          }
        }
      }
    }
  }
  .aboutBtn{
    position: absolute;
    height: 40px;
    line-height: 40px;
    color: #fff;
    top:0px;
    right:0px;
    &:hover{
      color: #f60;
    }
  }
}
/* menu box end */
/* 轮播图片和推广 start */
.slider{
  width: 1200px;
  float: left;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  .slidesjs-navigation{
    display: none;
  }
  .slidesjs-pagination{
    position: absolute;
    bottom: 10px;
    text-align: right;
    width: 100%;
    .slidesjs-pagination-item{
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 7px;
      padding: 2px;
      background-color: #f60;
      margin: 0px 5px;
      line-height: 100;
      overflow: hidden;
      a{
        display: block;
        overflow: hidden;
        &.active{
          background-color: #fff;
          height: 7px;
          width: 7px;
          border-radius: 7px;
        }
      }
    }
  }
}
/* 轮播图片和推广 end */
/* 左右结构 start */
.leftContent{
  width: 1000px;
  float: left;
  .classBox{
    background-color: #fff;
    clear: both;
    overflow: hidden;
    .firstClass{
      float: left;
      width: 200px;
      .flag{
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        background-color: $baseColor;
      }
      .classList{
        width: 200px;
        box-sizing: border-box;
        .classItem{
          display: block;
          height: 50px;
          line-height: 50px;
          padding-left: 30px;
          font-size: 16px;
          border-bottom: 1px solid #eee;
          color: #666;
          position: relative;
          img{
            width: 30px;
            margin-top: 10px;
            vertical-align: top;
            margin-right: 10px;
          }
          &.active::after{
            content: ">";
            position: absolute;
            right: 10px;
            line-height: 50px;
          }
        }
        .newClass{
          height: 50px;
          line-height: 50px;
          width: 90%;
          margin: 10px auto;
          color: #fff;
          background-color: #f60;
          text-align: center;
          display: block;
          border-radius: 5px;
          &:hover{
            background-color: #f90;
          }
        }
      }
    }
    .secondClass{
      width: 780px;
      padding: 10px;
      height: 642px;
      border-top:1px solid $baseColor;
      float: left;
      .childItem{
        width: 126px;
        height: 133px;
        border: 1px solid #b8cad8;
        float: left;
        margin-right: 1px;
        margin-bottom: 1px;
        .childImg{
          width: 126px;
          height: 103px;
          clear: both;
          overflow: hidden;
          img{
            width: 100%;
          }
        }
        .childName{
          background-color: #b8cad8;
          text-align: center;
          height: 30px;
          line-height: 30px;
          color: #fff;
          font-size: 14px;
        }
        &.active,&:hover{
          border-color: $baseColor;
          .childName{
            background-color: $baseColor;
          }
        }
      }
    }
  }

}
/* 左右结构 end */
/* 询价表哥 start */
.modelBox{
  width: 1000px;
}
.model{
  background-color: #fff;
  margin-top: 20px;
  &.m60{
    float: left;
    width: 540px;
  }
  &.m40{
    float: right;
    width: 450px;
  }
  .modelTop{
    height: 40px;
    background-color: $baseColor;
    color: #fff;
    padding: 0px 10px;
    line-height: 40px;
    font-size: 16px;
    clear: both;
    overflow: hidden;
    a{
      float: right;
      font-size: 14px;
      color: #fff;
      &:hover{
        color: #f60;
      }
    }
  }
  .modelTable{
    width: 100%;
    border: 1px solid $borderColor;
    tr:nth-child(2n){
      background-color: #f9f9f9;
    }
    tr:first-child{
      td{
        color: $baseColor;
        font-size: 14px;
        &:last-child{
          color: #333;
        }
        &:first-child{
          color: #f60;
        }
      }
    }
    td:first-child{
      color: #f60;
      background-color: #f5f5f5;
    }
    tr:hover{
      background-color: #F7F7F7;
    }
    td{
      height: 30px;
      line-height: 30px;
      text-align: center;
      a{
        color: #f60;
        &:hover{
          color: #f90;
        }
      }
    }
  }
}
/* 询价表哥 start */
/*  产品说明 tab start */
.modelTab{
  background-color: #fff;
  margin-top: 20px;
  border:1px solid $borderColor;
  margin-top: 20px;
  .tabHeader{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid $baseColor;
    a{
      display: inline-block;
      padding: 0px 15px;
      font-size: 14px;
      color: #333;
      &:hover,&.active{
        background-color: $baseColor;
        color: #fff;
      }
    }
  }
  .tabBody{
    padding: 10px;
    font-size: 14px;
    line-height: 2;
  }
}
/*  产品说明 tab end */
/* 轮播产品广告 start */
.slideAdvBox{
  margin-top: 20px;
  background-color: #fff;
  .slideName{
    height: 216px;
    width: 50px;
    float: left;
    background-color: $baseColor;
    word-wrap: break-word;
    font-size: 20px;
    text-align: center;
    padding-top: 24px;
    span{
      display: block;
      text-align: center;
      line-height: 2;
      color: #fff;
    }
  }
  .slideAdv{
    float: left;
    width: 1138px;
    height: 218px;
    border: 1px solid $baseColor;
    overflow: hidden;
    background-color: #fff;
    padding: 10px;
    padding-left: 0px;
    .item{
      float: left;
      border: 1px solid transparent;
      width: 218px;
      position: relative;
      height: 218px;
      .img{
        width: 218px;
        height: 218px;
        img{
          width: 100%;
        }
      }
      .itemName{
        text-align: center;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
        bottom:0px;
        height: 30px;
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        width:218px;
      }
      &:hover{
        .itemName{
          width: 218px;
          height: 218px;
          top:0px;
          left: 0px;
          font-size: 16px;
          line-height: 218px;
        }
      }
    }
  }
}
/* 轮播产品广告 end */
/* 入驻商家 start */
.sellers{
  float: right;
  width: 180px;
  background-color: #fff;
  .flag{
    height: 40px;
    background-color: $baseColor;
    color: #fff;
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
  }
  .sellerList{
    height: 925px;
    .sellerItem{
      width: 160px;
      margin:4px 10px;
      border: 1px solid #eee;
      .name{
        font-size: 14px;
        line-height: 2;
        border-bottom: 1px solid #eee;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0px 10px;
        color: #666;
      }
      .tel{
        text-align: center;
        font-size: 12px;
        line-height: 2;
        color: #999;
      }
      .other{
        padding: 0px 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span{
          display: inline-block;
          color: #999;
          &.count{
            font-size: 12px;
            em{
              font-style: normal;
              color: #f60;
            }
          }
        }
      }
    }
  }
}
/* 入驻商家 end */
/* footer start  */
.footer{
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  margin-top: 20px;
  padding: 20px 0px;
  .footerList{
    width: 100%;
    li{
      float: left;
      width: 33.33%;
      height: 120px;
      .footerTitle{
        font-size: 18px;
        margin-top: 20px;
        color: #888;
      }
      a{
        display: inline-block;
        font-size: 14px;
        color: #999;
        line-height: 2;
        margin: 0px 10px 0px 0px;
        &:hover{
          color: #f60;
        }
      }
    }
  }
}
.webmsg{
  text-align: center;
  padding: 10px 0px;
  font-size: 12px;color: #999;
  line-height: 2;
  img{
    height: 25px;
    margin: 10px;
  }
}
/* footer end  */