@charset "UTF-8";
/* common start  */
html,body{
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color: #333;
  background-color: #f9f9f9;
}
p{
  padding: 0px;
  margin: 0px;
}
a,a:hover,a:active{
  text-decoration: none;
}
.fl{
  float: left;
}
.fr{
  float:right;
}
.clearAll{
  clear: both;
  overflow: hidden;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* common end */

.topAdv{
  width: 100%;
  min-width: 1200px;
  clear: both;
  overflow: hidden;
  .topImg{
    width: 1200px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    position: relative;
    img{
      width: 100%;
    }
    .closeBtn{
      position: absolute;
      top:0px;
      right:0px;
      height: 30px;
      width: 30px;
      background-color: rgba(0,0,0,0.5);
      color: #fff;
      line-height: 30px;
      text-align: center;
      font-size: 20px;
      &:hover{
        background-color: rgba(0,0,0,8);
        text-decoration: none;
      }
    }
  }
}

/*top bar */
.topBar{
  height: 30px;
  line-height: 30px;
  width: 100%;
  clear: both;
  overflow: hidden;
  background: #f1f1f1;
  border-bottom: 1px solid #f3f3f3;
  .toLogin{
    color: red;
    margin: 0 10px;
  }
  .na{
    color: #333;
    &:hover{
      color: #3a95e7;
    }
  }
  .topA{
    .na{
      display: inline-block;
      padding: 0px 7px;
      position: relative;
      &:not(:last-child):after{
        content: "|";
        position: absolute;
        color: #999;
        right: 0px;
      }
    }
  }
}
/* logo and search start */
.logo_search{
  height: 60px;
  padding: 10px 0px;
  margin: 0 auto;
  background-color: #fff;
  .mainLogo{
    float: left;
    height: 50px;
    margin: 5px 0px;
    width: 25%;
    img{
      height: 50px;
      float: left;
    }
    .service{
      float: left;
      margin-left: 10px;
      color: #999;
      .text{
        font-size: 14px;
        line-height: 2;
      }
      .number{
        font-size: 14px;
      }
    }
  }
  .searchBox{
    width: 50%;
    float: left;
    .searchGroup{
      margin: 0 auto;
      width: 300px;
    }
  }
  .buySaller {
    float: left;
    width: 25%;
  }
}
/* logo and search end */
/* menu box start */
.menu{
  clear: both;
  //height: 40px;
  background-color: #3c76df;
  width: 100%;
  color: #fff;
  min-width: 1200px;
  .menuInner{
    width: 1200px;
    li{
      display: inline-block;
      &.classFlag{
        width: 200px;
        position: relative;
        .className{
          height: 40px;
          line-height: 40px;
          font-size: 15px;
          text-align: center;
          background-color: rgba(34,89,190,1);
        }
        &:hover{
          .classBox{
            display: block;
          }
        }
        .classBox{
          position: absolute;
          width: 200px;
          z-index: 10;
          background-color: rgba(0,0,0,0.5);
          display: none;
          li{
            clear: both;
            overflow: hidden;
            height: 40px;
            line-height: 40px;
            width: 100%;
            display: block;
            margin-bottom: 1px;
            .classItem{
              display: block;
              padding-left: 30px;
              color: #fff;
              position: relative;
              font-size: 14px;
              &:hover,&.active{
                background-color: #fff;
                color: #333;
                &:after{
                  content: ">";
                  position: absolute;
                  right: 10px;
                }
              }
            }
          }
        }
      }
      &.menuItem{
        position: relative;
        margin: 0px 1px;
        a{
          display: block;
          color: #fff;
          padding: 0px 15px;
          line-height: 40px;
          height: 40px;
          font-size: 14px;
          background-color: rgba(34,89,190,0);
          &:hover{
            transition:  background-color 0.3s;
            background-color: rgba(34,89,190,1);
          }
        }
        &:hover{
          .secondMenu{
            display: block;
          }
        }
        .secondMenu{
          position: absolute;
          display: none;
          li{
            display: block;
            height: 40px;
            a{
              display: block;
              line-height: 40px;
              width: 80px;
              background-color: #3c76df;
              &:hover{
                background-color: rgba(34,89,190,1);
              }
            }
          }
        }
      }
    }
  }
}
/* menu box end */
