<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>环球标准件网</title>
    <!--<link rel="stylesheet" href="../static/public/bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../static/images/common/icon/iconfont.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <!-- 顶部广告 start-->
    <div class="topAdv" style="background-color: #72b0e3">
        <div class="topImg" style="height: 80px;">
            <img src="../static/images/common/topadv.jpg" alt="">
            <a href="javascript:void(0);" onclick="closeTopAdv();" class="closeBtn">X</a>
        </div>
    </div>
    <!-- 顶部广告 end-->
    <!-- 顶部登录等信息 start -->
    <div class="topBar">
        <div class="container">
            <div class="fl">
                <span>欢迎光临环球标准件网</span>
                <a href="" class="toLogin">请登录</a>
                <a href="" class="na">免费注册</a>
            </div>
            <div class="fr topA">
                <a href="#" class="na">加入收藏</a>
                <a href="#" class="na">卖家中心</a>
                <a href="#" class="na">最新询价</a>
                <a href="#" class="na">最新入驻</a>
                <a href="#" class="na">在线客服</a>
            </div>
        </div>
    </div>
    <!-- 顶部登录等信息 end -->
    <!-- logo and search box start -->
    <div class="logo_search clearAll">
        <div class="container">
            <a href="" class="mainLogo">
                <img src="../static/images/common/logo.jpg" alt="">
                <div class="service">
                    <p class="text">客服热线</p>
                    <p class="number">400-820-8888</p>
                </div>
            </a>
            <div class="searchBox">
                <div class="searchGroup">
                    <a class="searchBefore">

                    </a>
                    <div class="searchInput">
                        <input type="text">
                    </div>
                    <a href="" class="searchBtn"><i class="iconfont icon-search"></i></a>
                </div>
            </div>
            <div class="buySaller">
                <a href="" class="car"><i class="iconfont icon-buycar"></i>购物车 <span>9</span></a>
                <a href="" class="sellerEnter">卖家入口</a>
            </div>
        </div>
    </div>
    <!-- logo and search box end -->

    <!-- menu box start -->
    <div class="menu">
        <div class="container">
            <ul class="menuInner">
                <li class="classFlag">
                    <div class="className">分类</div>
                    <ul class="classBox">
                        <li><a href="" class="classItem active">螺丝</a></li>
                        <li><a href="" class="classItem">垫片</a></li>
                        <li><a href="" class="classItem">螺钉</a></li>
                        <li><a href="" class="classItem">柳钉</a></li>
                        <li><a href="" class="classItem">销</a></li>
                        <li><a href="" class="classItem">接头</a></li>
                        <li><a href="" class="classItem">O型圈</a></li>
                        <li><a href="" class="classItem">卡环</a></li>
                        <li><a href="" class="classItem">卡箍</a></li>
                        <li><a href="" class="newClass">我有新的品类入驻</a></li>
                    </ul>
                </li>
                <li class="menuItem active"><a href="index.html">首页</a></li>
                <li class="menuItem"><a href="#">精确查询 <i class="iconfont icon-down"></i></a>
                    <ul class="secondMenu">
                        <li><a href="#">标准</a></li>
                        <li><a href="#">我的关注</a></li>
                        <li><a href="#">sub3</a></li>
                        <li><a href="#">标准</a></li>
                        <li><a href="#">我的关注</a></li>
                        <li><a href="#">sub3</a></li>
                    </ul>
                </li>
                <li class="menuItem"><a href="cuxiao.htm">促销</a></li>
                <li class="menuItem"><a href="songyang.htm">免费送样</a></li>
                <li class="menuItem"><a href="pingpai.htm">品牌推广</a></li>
                <li class="menuItem"><a href="#">平台商城</a></li>
            </ul>
            <a href="#" class="fr"><span class="daohanghomeabout">关于我们</span></a>
        </div>
    </div>
    <!-- menu box end -->

    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
</body>
</html>