<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>卖家网站  公司相册</title>
    <!--<link rel="stylesheet" href="../static/public/bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../static/images/common/icon/iconfont.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <!--&lt;!&ndash; 顶部广告 start&ndash;&gt;-->
    <!--<div class="topAdv" style="background-color: #72b0e3">-->
        <!--<div class="topImg" style="height: 80px;">-->
            <!--<img src="../static/images/common/topadv.jpg" alt="">-->
            <!--<a href="javascript:void(0);" onclick="closeTopAdv();" class="closeBtn">X</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; 顶部广告 end&ndash;&gt;-->
    <!-- 顶部登录等信息 start -->
    <div class="topBar">
        <div class="container">
            <div class="fl">
                <span>欢迎光临环球标准件网</span>
                <a href="" class="toLogin">请登录</a>
                <a href="" class="na">免费注册</a>
            </div>
            <div class="fr topA">
                <a href="#" class="na">加入收藏</a>
                <a href="#" class="na">卖家中心</a>
                <a href="#" class="na">最新询价</a>
                <a href="#" class="na">最新入驻</a>
                <a href="#" class="na">在线客服</a>
            </div>
        </div>
    </div>
    <!-- 顶部登录等信息 end -->

    <!--公司名称 start -->
    <div class="companyNameBox">
        <!--公司名称背景图 start-->
        <div class="c_slide" id="c_slide">
            <img class="bg" src="../static/images/examples/bg.jpg" alt="公司名称">
            <img class="bg" src="../static/images/examples/bg-2.jpg" alt="公司名称">
            <img class="bg" src="../static/images/examples/bg-3.jpg" alt="公司名称">
        </div>
        <!--公司名称背景图 end-->
    </div>
    <!--公司名称 end -->

    <!-- menu box start -->
    <div class="menu">
        <div class="container" style="position: relative">
            <ul class="menuInner">
                <li class="menuItem active"><a href="">公司介绍</a></li>
                <li class="menuItem m_sel"><a href="javascript:void(0);">产品目录</a>
                    <ul class="mi_se">
                        <li>子菜单1
                            <ul class="mi_th">
                                <li><a href="">子菜单-1-1</a></li>
                                <li><a href="">子菜单-1-1</a></li>
                                <li><a href="">子菜单-1-1</a></li>
                                <li><a href="">子菜单-1-1</a></li>
                            </ul>
                        </li>
                        <li>子菜单1
                            <ul class="mi_th">
                                <li><a href="">子菜单-1-1</a></li>
                                <li><a href="">子菜单-1-1</a></li>
                                <li><a href="">子菜单-1-1</a></li>
                                <li><a href="">子菜单-1-1</a></li>
                            </ul>
                        </li>
                        <li>子菜单1
                            <ul class="mi_th">
                                <li><a href="">子菜单-1-1</a></li>
                                <li><a href="">子菜单-1-1</a></li>
                                <li><a href="">子菜单-1-1</a></li>
                                <li><a href="">子菜单-1-1</a></li>
                            </ul>
                        </li>
                        <li>子菜单1
                            <ul class="mi_th">
                                <li><a href="">子菜单-1-1</a></li>
                                <li><a href="">子菜单-1-1</a></li>
                                <li><a href="">子菜单-1-1</a></li>
                                <li><a href="">子菜单-1-1</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menuItem"><a href="">公司相册</a></li>
                <li class="menuItem"><a href="">联系方式</a></li>
                <li class="menuItem"><a href="#">在线留言</a></li>
            </ul>
        </div>
    </div>
    <!-- menu box end -->
    <div class="container company">
        <div class="leftPart">
            <!-- 企业档案 start -->
            <div class="document">
                <div class="head"><i class="iconfont icon-maijia1"></i>企业档案</div>
                <div class="body">
                    <div class="flag">
                        诚信达会员
                    </div>
                    <div class="name">上海盖瑞特涡轮增压有限公司</div>
                    <div class="item">
                        <span class="t">商品数量：</span>
                        <span class="d">182条</span>
                    </div>
                    <div class="boss">
                        宋雅萍 <em>先生</em>
                    </div>
                    <div class="gongshang">
                        <span class="t">工商注册信息：</span>
                        <span class="d">XXX氏</span>
                        <a href="">认证</a>
                    </div>
                    <div class="address">
                        <span>所在地：上海 宝山区</span>
                    </div>
                    <div class="business">经营模式：经销批发 <em>[已认证]</em></div>
                </div>
            </div>
            <!-- 企业档案 end -->
            <!-- 联系我们 start -->
            <div class="contact">
                <div class="head"><i class="iconfont icon-maijia1"></i>联系我们
                    <a href="" class="more">更多&gt;&gt;</a>
                </div>
                <div class="body">
                    <div class="sm_item">
                        <span class="t">经理：</span>
                        <span class="d">宋雅萍</span>
                    </div>
                    <div class="sm_item">
                        <span class="t">电话：</span>
                        <span class="d">1-021-60766556</span>
                        <span class="d">13023196669</span>
                    </div>
                    <div class="sm_item">
                        <span class="t">手机：</span>
                        <span class="d">13023196669</span>
                        <span class="d">13023196669</span>
                    </div>
                    <div class="sm_item">
                        <span class="t">手机：</span>
                        <span class="d">86-021-60766556</span>
                        <span class="d">86-021-60766556</span>
                    </div>
                    <a href="" class="contactBtn">给我留言</a>
                </div>

            </div>
            <!-- 联系我们 end -->
        </div>
        <div class="rightPart">
            <div class="model">
                <div class="head"><i class="iconfont icon-usermodel"></i>我们的公司</div>
                <div class="body">
                    <div class="upImgBox">
                        <img src="../static/images/examples/com.jpg" alt="">
                    </div>
                    <div class="upImgText">
                        固万基是一家集设计、开发、生产、销售为一体的知名企业，15年来致力于生产高品质、高精密螺丝的企业，我们以为专注，所以专业！
                    </div>
                </div>
            </div>

            <div class="model">
                <div class="head"><i class="iconfont icon-usermodel"></i>生产过程</div>
                <div class="body">
                    <div class="upImgBox">
                        <img src="../static/images/examples/com1.jpg" alt="">
                    </div>
                    <div class="upImgText">
                        全自动设备，生产过程严格遵循TS16949
                    </div>
                </div>
            </div>

            <div class="model">
                <div class="head"><i class="iconfont icon-usermodel"></i>质量控制</div>
                <div class="body">
                    <div class="upImgBox">
                        <img src="../static/images/examples/com3.jpg" alt="">
                    </div>
                    <div class="upImgText">
                        原材料完全使用标准建议的304不锈钢，生产过程严格建议，库存包装远离腐蚀性物品
                    </div>
                </div>
            </div>

            <div class="model">
                <div class="head"><i class="iconfont icon-usermodel"></i>我们的设备</div>
                <div class="body">
                    <div class="upImgBox">
                        <img src="../static/images/examples/com4.jpg" alt="">
                    </div>
                    <div class="upImgText">
                        引进美国生产设备，自动化制造，人工严格质量监控，实现精细化生产。
                    </div>
                </div>
            </div>

            <div class="model">
                <div class="head"><i class="iconfont icon-usermodel"></i>我们的产品</div>
                <div class="body">
                    <div class="upImgBox">
                        <img src="../static/images/examples/com5.jpg" alt="">
                    </div>
                    <div class="upImgText">
                        数千个品种的标准件，也可类似产品来图定做。
                    </div>
                </div>
            </div>

            <div class="model">
                <div class="head"><i class="iconfont icon-usermodel"></i>我们的包装</div>
                <div class="body">
                    <div class="upImgBox">
                        <img src="../static/images/examples/com6.jpg" alt="">
                    </div>
                    <div class="upImgText">
                        油封袋小包装，纸盒大包装，长距离多重包装
                    </div>
                </div>
            </div>
            <div class="model">
                <div class="head"><i class="iconfont icon-usermodel"></i>我们的包装</div>
                <div class="body">
                    <div class="upImgBox">
                        <img src="../static/images/examples/com7.jpg" alt="">
                    </div>
                    <div class="upImgText">
                        近万平米大型仓库，上千万种紧固件螺丝品牌，库存充足，环境优良
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- 行业伙伴 start -->
    <div class="partner container clearAll">
        <div class="header">我的行业伙伴</div>
        <div class="body">
            <a href="" class="item">百度网</a>
            <a href="" class="item">百度网</a>
            <a href="" class="item">百度网</a>
            <a href="" class="item">百度网</a>
            <a href="" class="item">百度网</a>
            <a href="" class="item">百度网</a>
            <a href="" class="item">百度网</a>
            <a href="" class="item">百度网</a>
            <a href="" class="item">百度网</a>
            <a href="" class="item">百度网</a>
            <a href="" class="item">百度网</a>

        </div>
    </div>
    <!-- 行业伙伴 end -->

    <!-- 网站提示 start -->
    <div class="siteTips container">
        <em>提示：</em>您在会从网上采购的商品属于商业贸易行为，以上所展示的消息有卖家自行提供，内容真实性、准确性和合法性由发布卖家负责，请意识到互联网交易中的风险是客观存在的；
        <br>推荐使用 <em>慧付宝资金保障服务</em>，保障您的交易安全！
    </div>
    <!-- 网站提示 end -->
    <!-- 网站广告 start -->
    <div class="advs container clearAll">
        <a href="" class="imgs">
            <img src="../static/images/examples/adv.jpg" alt="">
        </a>
        <a href="" class="imgs">
            <img src="../static/images/examples/adv.jpg" alt="">
        </a>
        <a href="" class="imgs">
            <img src="../static/images/examples/adv.jpg" alt="">
        </a>
    </div>
    <!-- 网站广告 end -->

    <!-- footer start -->
    <div class="webmsg clearAll">
        <div class="container">
            <p>江苏省&nbsp;&nbsp;&nbsp;&nbsp;无锡市&nbsp;&nbsp;&nbsp;&nbsp;滨湖区&nbsp;&nbsp;&nbsp;&nbsp;工业设计院&nbsp;&nbsp;&nbsp;&nbsp;214000</p>
            <p>&copy;copyright  无锡基瓦涡轮增压科技有限公司版权所有</p>
            <p>电话：134-0000-6785&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email：52971433@qq.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传真：0510-8899-0099</p>
            <p>
                <img src="../static/images/common/cnhl.jpg" alt="">
                <img src="../static/images/common/kx.jpg" alt="">
            </p>
        </div>
    </div>
    <!-- footer end -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.slides.min.js"></script>
    <script>
        $(function(){
            $('#c_slide').slidesjs({
                width: 1200,
                height: 120,
                navigation:{
                    active:false
                },
                play: {
                    active: false,
                    auto: true,
                    interval: 4000,
                }
            });
        })
    </script>

</body>
</html>