<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>环球标准件网</title>
    <!--<link rel="stylesheet" href="../static/public/bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../static/images/common/icon/iconfont.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <!-- 顶部广告 start-->
    <div class="topAdv" style="background-color: #72b0e3">
        <div class="topImg" style="height: 80px;">
            <img src="../static/images/common/topadv.jpg" alt="">
            <a href="javascript:void(0);" onclick="closeTopAdv();" class="closeBtn">X</a>
        </div>
    </div>
    <!-- 顶部广告 end-->
    <!-- 顶部登录等信息 start -->
    <div class="topBar">
        <div class="container">
            <div class="fl">
                <span>欢迎光临环球标准件网</span>
                <a href="" class="toLogin">请登录</a>
                <a href="" class="na">免费注册</a>
            </div>
            <div class="fr topA">
                <a href="#" class="na">加入收藏</a>
                <a href="#" class="na">卖家中心</a>
                <a href="#" class="na">最新询价</a>
                <a href="#" class="na">最新入驻</a>
                <a href="#" class="na">在线客服</a>
            </div>
        </div>
    </div>
    <!-- 顶部登录等信息 end -->
    <!-- logo and search box start -->
    <div class="logo_search clearAll">
        <div class="container">
            <a href="" class="mainLogo">
                <img src="../static/images/common/logo.jpg" alt="">
                <div class="service">
                    <p class="text">服务热线</p>
                    <p class="number">400-820-8888</p>
                </div>
            </a>
            <div class="searchBox">
                <span class="searchCondition">
                    JIS
                </span>
                <span class="searchCondition">
                    JIS
                </span>
                <a href="" class="searchBtn"><i class="iconfont icon-search"></i></a>
            </div>
            <div class="buySaller">
                <a href="" class="buyItem"> <i class="iconfont icon-wode"></i> 我的环球</a>
                <a href="" class="buyItem"><i class="iconfont icon-buycar"></i>购物车 (9)</a>
            </div>
        </div>
    </div>
    <!-- logo and search box end -->

    <!-- menu box start -->
    <div class="menu">
        <div class="container" style="position: relative">
            <ul class="menuInner">
                <li class="menuItem active"><a href="index.html">首页</a></li>
                <li class="menuItem"><a href="#">精确查询 <i class="iconfont icon-down"></i></a>
                    <ul class="secondMenu">
                        <li><a href="#">标准</a></li>
                        <li><a href="#">我的关注</a></li>
                        <li><a href="#">sub3</a></li>
                        <li><a href="#">标准</a></li>
                        <li><a href="#">我的关注</a></li>
                        <li><a href="#">sub3</a></li>
                    </ul>
                </li>
                <li class="menuItem"><a href="cuxiao.htm">促销</a></li>
                <li class="menuItem"><a href="songyang.htm">免费送样</a></li>
                <li class="menuItem"><a href="pingpai.htm">品牌推广</a></li>
                <li class="menuItem"><a href="#">平台商城</a></li>
            </ul>
            <a href="#" class="aboutBtn">关于我们<i class="iconfont icon-help"></i></a>
        </div>
    </div>
    <!-- menu box end -->
    <!-- slideBox start -->
    <div class="container">
        <div class="slider" id="slider">
            <img src="../static/images/index/slider1.jpg" alt="">
            <img src="../static/images/index/slider2.jpg" alt="">
            <img src="../static/images/index/slider3.jpg" alt="">
        </div>
    </div>
    <!-- slideBox end -->
    <!-- 左右结构 start -->
    <div class="container clearAll">
        <!-- 类别及报价 start -->
        <div class="leftContent clearAll" style="width: 100%;">
            <!--类别 start-->
            <div class="classBox">
                <div class="firstClass">
                    <div class="flag">选择大类</div>
                    <ul class="classList">
                        <li><a href="" class="classItem active"><img src="../static/images/index/lei_1.png">螺丝</a></li>
                        <li><a href="" class="classItem"><img src="../static/images/index/lei_2.png">垫片</a></li>
                        <li><a href="" class="classItem"><img src="../static/images/index/lei_3.png">螺钉</a></li>
                        <li><a href="" class="classItem"><img src="../static/images/index/lei_4.png">螺栓</a></li>
                        <li><a href="" class="classItem"><img src="../static/images/index/lei_5.png">柳钉</a></li>
                        <li><a href="" class="classItem"><img src="../static/images/index/lei_6.png">销</a></li>
                        <li><a href="" class="classItem"><img src="../static/images/index/lei_7.png">接头</a></li>
                        <li><a href="" class="classItem"><img src="../static/images/index/lei_8.png">O型圈</a></li>
                        <li><a href="" class="classItem"><img src="../static/images/index/lei_9.png">卡环</a></li>
                        <li><a href="" class="classItem"><img src="../static/images/index/lei_10.png">卡箍</a></li>
                        <li><a href="" class="newClass">我有新的品类入驻</a></li>
                    </ul>
                </div>
                <div class="bigContent">
                    <!-- 面包屑 start -->
                    <div class="crumbs">
                        <span>当前位置：</span>
                        <a href="">螺栓</a>
                        <span>&gt;</span>
                        <a href="">六角全螺纹</a>
                        <span>&gt;</span>
                        <a href="" class="active">DIN933-M8*10</a>
                    </div>
                    <!-- 面包屑 end -->

                    <!--零件图示 start-->
                    <div class="partsImg clearAll">
                        <div class="name_seller clearAll">
                            <table class="innerTable">
                                <tr>
                                    <th>零件编号</th>
                                    <th>标准推荐</th>
                                    <th>商家数</th>
                                </tr>
                                <tr>
                                    <td>DIN933 M1.6X2</td>
                                    <td>优先选用</td>
                                    <td>20</td>
                                </tr>
                            </table>
                        </div>
                        <div class="imgBox">
                            <img src="../static/images/examples/partsImg.jpg" alt="">
                        </div>
                        <div class="partInfo">
                            <table class="innerTable" style="margin: 0 auto">
                                <tr>
                                    <th>公称直径</th>
                                    <th>长度</th>
                                    <th>螺距</th>
                                    <th>e</th>
                                    <th>s</th>
                                    <th>kmin</th>
                                    <th>kmax</th>
                                </tr>
                                <tr>
                                    <td>DIN933 M1.6X2</td>
                                    <td>优先选用</td>
                                    <td>20</td>
                                    <td>3.14</td>
                                    <td>1</td>
                                    <td>5645</td>
                                    <td>55</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!--零件图示 end-->

                    <!-- 对应的供应商 start-->
                    <div class="sellers">
                        <div class="count_pages">
                            <span class="count">
                                对应商家 <em>（20家）</em>
                            </span>
                            <ul class="pages">
                                <li><a href="">上一页</a></li>
                                <li><a href=""  class="active">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">下一页</a></li>
                                <li><a href="">跳转</a></li>
                            </ul>
                        </div>
                        <div class="sellers_box">
                            <a href="" class="seller_item">
                                <div class="imgBox">
                                    <img src="../static/images/examples/seller.jpg" alt="">
                                </div>
                                <div class="money_person">
                                    <span class="money">¥2.00</span>
                                    <span class="person">36人付款</span>
                                </div>
                                <div class="names">
                                    <span class="forg">DIN933</span>加长六角 <span class="forg">螺栓
                            </span>304不锈钢螺钉外六角螺丝M8*12／16／20／25-150
                                </div>
                                <div class="company_address">
                                    <span class="company"><i class="iconfont icon-maijia1"></i>汇成丰旗舰店</span>
                                    <span class="address">广东 深圳</span>
                                </div>
                            </a>
                            <a href="" class="seller_item">
                                <div class="imgBox">
                                    <img src="../static/images/examples/seller.jpg" alt="">
                                </div>
                                <div class="money_person">
                                    <span class="money">¥2.00</span>
                                    <span class="person">36人付款</span>
                                </div>
                                <div class="names">
                                    <span class="forg">DIN933</span>加长六角 <span class="forg">螺栓
                            </span>304不锈钢螺钉外六角螺丝M8*12／16／20／25-150
                                </div>
                                <div class="company_address">
                                    <span class="company"><i class="iconfont icon-maijia1"></i>汇成丰旗舰店</span>
                                    <span class="address">广东 深圳</span>
                                </div>
                            </a>
                            <a href="" class="seller_item">
                                <div class="imgBox">
                                    <img src="../static/images/examples/seller.jpg" alt="">
                                </div>
                                <div class="money_person">
                                    <span class="money">¥2.00</span>
                                    <span class="person">36人付款</span>
                                </div>
                                <div class="names">
                                    <span class="forg">DIN933</span>加长六角 <span class="forg">螺栓
                            </span>304不锈钢螺钉外六角螺丝M8*12／16／20／25-150
                                </div>
                                <div class="company_address">
                                    <span class="company"><i class="iconfont icon-maijia1"></i>汇成丰旗舰店</span>
                                    <span class="address">广东 深圳</span>
                                </div>
                            </a>
                            <a href="" class="seller_item">
                                <div class="imgBox">
                                    <img src="../static/images/examples/seller.jpg" alt="">
                                </div>
                                <div class="money_person">
                                    <span class="money">¥2.00</span>
                                    <span class="person">36人付款</span>
                                </div>
                                <div class="names">
                                    <span class="forg">DIN933</span>加长六角 <span class="forg">螺栓
                            </span>304不锈钢螺钉外六角螺丝M8*12／16／20／25-150
                                </div>
                                <div class="company_address">
                                    <span class="company"><i class="iconfont icon-maijia1"></i>汇成丰旗舰店</span>
                                    <span class="address">广东 深圳</span>
                                </div>
                            </a>
                            <a href="" class="seller_item">
                                <div class="imgBox">
                                    <img src="../static/images/examples/seller.jpg" alt="">
                                </div>
                                <div class="money_person">
                                    <span class="money">¥2.00</span>
                                    <span class="person">36人付款</span>
                                </div>
                                <div class="names">
                                    <span class="forg">DIN933</span>加长六角 <span class="forg">螺栓
                            </span>304不锈钢螺钉外六角螺丝M8*12／16／20／25-150
                                </div>
                                <div class="company_address">
                                    <span class="company"><i class="iconfont icon-maijia1"></i>汇成丰旗舰店</span>
                                    <span class="address">广东 深圳</span>
                                </div>
                            </a>
                        </div>
                        <div class="count_pages">
                            <span class="count">
                                对应商家 <em>（20家）</em>
                            </span>
                            <ul class="pages">
                                <li><a href="">上一页</a></li>
                                <li><a href=""  class="active">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">下一页</a></li>
                                <li><a href="">跳转</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- 对应的供应商 end-->

                </div>
            </div>
            <!--类别 end-->
        </div>
        <!-- 类别及报价 end -->

    </div>


    <!-- 左右结构 end -->
    <!-- footer start -->
    <div class="footer clearAll">
        <div class="container">
            <ul class="footerList">
                <li>
                    <p class="footerTitle"><i class="iconfont icon-maijia"></i>买家教程</p>
                    <a href="#">如何查找产品</a>
                    <a href="#">如何查找厂家</a>
                    <a href="#">甄别产品和厂家</a>
                    <a href="#">确定卖家</a>
                </li>
                <li>
                    <p class="footerTitle"><i class="iconfont icon-maijia1"></i>卖家教程</p>
                    <a href="#">注册指南</a>
                    <a href="#">基本信息上传</a>
                    <a href="#">我有新品</a>
                    <a href="#">联系我们</a>
                    <a href="#">基本信息上传</a>
                    <a href="#">我有新品</a>
                    <a href="#">联系我们</a>
                </li>
                <li>
                    <p class="footerTitle"><i class="iconfont icon-guanyu"></i>关于平台</p>
                    <a href="#">平台介绍</a>
                    <a href="#">成为供应商</a>
                    <a href="#">加入我们</a>
                    <a href="#">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="webmsg clearAll">
        <div class="container">
            <p>江苏省&nbsp;&nbsp;&nbsp;&nbsp;无锡市&nbsp;&nbsp;&nbsp;&nbsp;滨湖区&nbsp;&nbsp;&nbsp;&nbsp;工业设计院&nbsp;&nbsp;&nbsp;&nbsp;214000</p>
            <p>&copy;copyright  无锡基瓦涡轮增压科技有限公司版权所有</p>
            <p>电话：134-0000-6785&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email：52971433@qq.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传真：0510-8899-0099</p>
            <p>
                <img src="../static/images/common/cnhl.jpg" alt="">
                <img src="../static/images/common/kx.jpg" alt="">
            </p>
        </div>
    </div>
    <!-- footer end -->

    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.slides.min.js"></script>
    <script type="text/javascript" src="../static/js/slick.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#slider').slidesjs({
                width: 1200,
                height: 200,
                navigation:{
                    active:false
                },
                effect: {
                    fade: {
                        speed: 400,
                    }
                },
                pagination: {
                    effect: "fade"
                },
                play: {
                    active: false,
                    auto: true,
                    interval: 4000,
                    swap: false,
                    effect: "fade"
                }
            });
//            $("#slideAdv").gundong();
            $('#slideAdv').slick({
                dots: false,
                slidesToShow: 4.99,
                slidesToScroll: 1,
                draggable:true,
                arrows:false,
                autoplay:true,
                autoplaySpeed:2000,
                vertical:false,
            });
        });
    </script>
</body>
</html>