<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理端 询价 待回复</title>
    <link rel="stylesheet" href="../static/images/common/icon/iconfont.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <div class="a_header container">
        <a href="" class="logo"><img src="../static/images/common/logo.png">买家后台管理系统</a>
        <span class="fl user">张云涛，您好！欢迎登陆。</span>
        <span class="tel">服务热线：888-8888-8888</span>
    </div>
    <!-- topBox start -->
    <div class="a_topBar container">
        <div class="a">管理菜单</div>
        <div class="crumb_todo">
            <a href=""><i class="iconfont icon-home"></i>首页</a>
            <span>&gt;</span>
            <a href="" class="active">欢迎页</a>
        </div>
        <div class="todo">
            <a href=""><i class="iconfont icon-pwd"></i>修改密码</a>
            <a href=""><i class="iconfont icon-ziliao"></i>编辑资料</a>
            <a href=""><i class="iconfont icon-out"></i>退出</a>
        </div>
    </div>
    <!-- topBox end -->
    <div class="container clearAll">
        <div class="a_menu">
            <div class="a_menu_item">
                <div class="am_head">
                    我有产品入驻
                </div>
                <div class="am_body">
                    <a href="" class="am_item active">
                        开始入驻（3步）
                    </a>
                    <a href="" class="am_item">
                        等待上架（32个） <span class="blue"></span>
                    </a>
                    <a href="" class="am_item">
                        需要完善（28个） <span class="red"></span>
                    </a>
                    <a href="" class="am_item">
                        入驻汇总（59个）
                    </a>

                </div>
            </div>

            <div class="a_menu_item">
                <div class="am_head">
                    快速建站
                </div>
                <div class="am_body">
                    <a href="" class="am_item">
                        开始建站
                    </a>
                    <a href="" class="am_item">
                        我要修改
                    </a>
                </div>
            </div>

            <div class="a_menu_item">
                <div class="am_head">
                    我的询价单
                </div>
                <div class="am_body">
                    <a href="" class="am_item">
                        待回复询价单
                    </a>
                    <a href="" class="am_item">
                        已经处理询价单
                    </a>
                </div>
            </div>

            <div class="a_menu_item">
                <div class="am_head">
                    购买广告位
                </div>
                <div class="am_body">
                    <a href="" class="am_item">
                        开始购买（3步）
                    </a>
                    <a href="" class="am_item">
                        等待上架
                    </a>
                    <a href="" class="am_item">
                        购买汇总（28个）
                    </a>
                </div>
            </div>

            <div class="a_menu_item">
                <div class="am_head">
                    我要推广
                </div>
                <div class="am_body">
                    <a href="" class="am_item">
                        我要"促销"
                    </a>
                    <a href="" class="am_item">
                        我要"免费送样"
                    </a>
                    <a href="" class="am_item">
                        我要"品牌推广"
                    </a>
                </div>
            </div>

            <div class="a_menu_item">
                <div class="am_head">
                    产品竞价到第一页
                </div>
                <div class="am_body">
                    <a href="" class="am_item">
                        开始推送
                    </a>
                    <a href="" class="am_item">
                        推送汇总
                    </a>
                </div>
            </div>
            <div class="a_menu_item">
                <div class="am_head">
                    自我推广延期
                </div>
                <div class="am_body">
                    <a href="" class="am_item">
                        活动形式
                    </a>
                    <a href="" class="am_item">
                        我要参加
                    </a>
                </div>
            </div>
            <div class="a_menu_item">
                <div class="am_head">
                    购买页头广告
                </div>
                <div class="am_body">
                    <a href="" class="am_item">
                        开始购买
                    </a>
                    <a href="" class="am_item">
                        已购买广告位汇总
                    </a>
                </div>
            </div>
            <div class="a_menu_item">
                <div class="am_head">
                    平台沟通
                </div>
                <div class="am_body">
                    <a href="" class="am_item">
                        未阅读信息
                    </a>
                    <a href="" class="am_item">
                        已处理信息
                    </a>
                    <a href="" class="am_item">
                        我有平台未收录标准
                    </a>
                    <a href="" class="am_item">
                        我有意见或建议
                    </a>
                </div>
            </div>

        </div>
        <div class="a_content">
            <div class="ac_top">选择做页头广告的产品（第三层）</div>
            <div class="a_container">
                <table class="xunjiaList">
                    <tr>
                        <th>序号</th>
                        <th>规格</th>
                        <th>客户来源</th>
                        <th>询问日期</th>
                        <th>回复日期</th>
                        <th>详情</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>DIN933 M1.6X2</td>
                        <td>上海</td>
                        <td>2017-6-21</td>
                        <td>2017-6-21</td>
                        <td><a href="">回复</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>DIN933 M1.6X2</td>
                        <td>上海</td>
                        <td>2017-6-21</td>
                        <td>2017-6-21</td>
                        <td><a href="">回复</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>DIN933 M1.6X2</td>
                        <td>上海</td>
                        <td>2017-6-21</td>
                        <td>2017-6-21</td>
                        <td><a href="">回复</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>DIN933 M1.6X2</td>
                        <td>上海</td>
                        <td>2017-6-21</td>
                        <td>2017-6-21</td>
                        <td><a href="">回复</a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>DIN933 M1.6X2</td>
                        <td>上海</td>
                        <td>2017-6-21</td>
                        <td>2017-6-21</td>
                        <td><a href="">回复</a></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>DIN933 M1.6X2</td>
                        <td>上海</td>
                        <td>2017-6-21</td>
                        <td>2017-6-21</td>
                        <td><a href="">回复</a></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>DIN933 M1.6X2</td>
                        <td>上海</td>
                        <td>2017-6-21</td>
                        <td>2017-6-21</td>
                        <td><a href="">回复</a></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>DIN933 M1.6X2</td>
                        <td>上海</td>
                        <td>2017-6-21</td>
                        <td>2017-6-21</td>
                        <td><a href="">回复</a></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>DIN933 M1.6X2</td>
                        <td>上海</td>
                        <td>2017-6-21</td>
                        <td>2017-6-21</td>
                        <td><a href="">回复</a></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>DIN933 M1.6X2</td>
                        <td>上海</td>
                        <td>2017-6-21</td>
                        <td>2017-6-21</td>
                        <td><a href="">回复</a></td>
                    </tr>
                </table>
            </div>
            <div class="a_footer">
                <p>江苏省    无锡市    滨湖区    国家工业设计院   214000</p>
                <p>&copy;无锡基瓦涡轮增压发动机k科技有限公司版权所有</p>
                <p>电话：134-00000-719    Email:52971433@qq.com    传真：0510-8899-8888</p>
            </div>
        </div>
    </div>

</body>
</html>