<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理端 产品接入和入驻汇总</title>
    <link rel="stylesheet" href="../static/images/common/icon/iconfont.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <div class="a_header container">
        <a href="" class="logo"><img src="../static/images/common/logo.png">买家后台管理系统</a>
        <span class="fl user">张云涛，您好！欢迎登陆。</span>
        <span class="tel">服务热线：888-8888-8888</span>
    </div>
    <!-- topBox start -->
    <div class="a_topBar container">
        <div class="a">管理菜单</div>
        <div class="crumb_todo">
            <a href=""><i class="iconfont icon-home"></i>首页</a>
            <span>&gt;</span>
            <a href="" class="active">欢迎页</a>
        </div>
        <div class="todo">
            <a href=""><i class="iconfont icon-pwd"></i>修改密码</a>
            <a href=""><i class="iconfont icon-ziliao"></i>编辑资料</a>
            <a href=""><i class="iconfont icon-out"></i>退出</a>
        </div>
    </div>
    <!-- topBox end -->
    <div class="container clearAll">
        <div class="a_menu">
            <div class="a_menu_item">
                <div class="am_head">
                    我有产品入驻
                </div>
                <div class="am_body">
                    <a href="" class="am_item active">
                        开始入驻（3步）
                    </a>
                    <a href="" class="am_item">
                        等待上架（32个） <span class="blue"></span>
                    </a>
                    <a href="" class="am_item">
                        需要完善（28个） <span class="red"></span>
                    </a>
                    <a href="" class="am_item">
                        入驻汇总（59个）
                    </a>

                </div>
            </div>

            <div class="a_menu_item">
                <div class="am_head">
                    快速建站
                </div>
                <div class="am_body">
                    <a href="" class="am_item">
                        开始建站
                    </a>
                    <a href="" class="am_item">
                        我要修改
                    </a>
                </div>
            </div>

            <div class="a_menu_item">
                <div class="am_head">
                    我的询价单
                </div>
                <div class="am_body">
                    <a href="" class="am_item">
                        待回复询价单
                    </a>
                    <a href="" class="am_item">
                        已经处理询价单
                    </a>
                </div>
            </div>

            <div class="a_menu_item">
                <div class="am_head">
                    购买广告位
                </div>
                <div class="am_body">
                    <a href="" class="am_item">
                        开始购买（3步）
                    </a>
                    <a href="" class="am_item">
                        等待上架
                    </a>
                    <a href="" class="am_item">
                        购买汇总（28个）
                    </a>
                </div>
            </div>

            <div class="a_menu_item">
                <div class="am_head">
                    我要推广
                </div>
                <div class="am_body">
                    <a href="" class="am_item">
                        我要"促销"
                    </a>
                    <a href="" class="am_item">
                        我要"免费送样"
                    </a>
                    <a href="" class="am_item">
                        我要"品牌推广"
                    </a>
                </div>
            </div>

            <div class="a_menu_item">
                <div class="am_head">
                    产品竞价到第一页
                </div>
                <div class="am_body">
                    <a href="" class="am_item">
                        开始推送
                    </a>
                    <a href="" class="am_item">
                        推送汇总
                    </a>
                </div>
            </div>
            <div class="a_menu_item">
                <div class="am_head">
                    自我推广延期
                </div>
                <div class="am_body">
                    <a href="" class="am_item">
                        活动形式
                    </a>
                    <a href="" class="am_item">
                        我要参加
                    </a>
                </div>
            </div>
            <div class="a_menu_item">
                <div class="am_head">
                    购买页头广告
                </div>
                <div class="am_body">
                    <a href="" class="am_item">
                        开始购买
                    </a>
                    <a href="" class="am_item">
                        已购买广告位汇总
                    </a>
                </div>
            </div>
            <div class="a_menu_item">
                <div class="am_head">
                    平台沟通
                </div>
                <div class="am_body">
                    <a href="" class="am_item">
                        未阅读信息
                    </a>
                    <a href="" class="am_item">
                        已处理信息
                    </a>
                    <a href="" class="am_item">
                        我有平台未收录标准
                    </a>
                    <a href="" class="am_item">
                        我有意见或建议
                    </a>
                </div>
            </div>

        </div>
        <div class="a_content">
            <div class="ac_top">第二步&nbsp;&nbsp;选择您要生产的所有产品</div>
            <div class="ac_content clearAll">
                <!-- 标准选择 start -->
                <div class="chooseContent">
                    <div class="description">
                        <p>1.DIN 933和GB／T 5783完全一样；</p>
                        <p>2.ISO4017为DIN933的子集，同时谈们在弹出选项中选择"特殊字符"然后再选择点击"不换行空格"，这样立即输入"'&'nbsp;
                            "空格字符代码，如果输入多个空格字符按照以上操作即可输入多个html空格字符。</p>
                    </div>
                    <div class="flag">
                        选择目标标准和目标产品，从而找到供应商
                    </div>
                    <div class="benchmark">
                        <div class="tabBtns">
                            <a href="javascript:void(0);" class="btnDin active">DIN933
                            </a><a href="javascript:void(0);" class="btnDin">ISO4017
                        </a><a href="javascript:void(0);" class="btnDin">GB/T 5783</a>
                        </div>
                        <div class="tabContent">

                            <!-- 事例table start -->
                            <table class="benchTable con" id="con-2" style="display: none;">
                                <thead>
                                <tr>
                                    <th>TH</th>
                                    <th>TH</th>
                                    <th>TH</th>
                                    <th>TH</th>
                                    <th>TH</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>TD</td>
                                    <td>TD</td>
                                    <td>TD</td>
                                    <td>TD</td>
                                    <td>TD</td>
                                </tr>
                                <tr>
                                    <td>TD</td>
                                    <td>TD</td>
                                    <td>TD</td>
                                    <td>TD</td>
                                    <td>TD</td>
                                </tr>
                                <tr>
                                    <td>TD</td>
                                    <td>TD</td>
                                    <td>TD</td>
                                    <td>TD</td>
                                    <td>TD</td>
                                </tr>
                                <tr>
                                    <td>TD</td>
                                    <td>TD</td>
                                    <td>TD</td>
                                    <td>TD</td>
                                    <td>TD</td>
                                </tr>
                                <tr>
                                    <td>TD</td>
                                    <td>TD</td>
                                    <td>TD</td>
                                    <td>TD</td>
                                    <td>TD</td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- 事例table end -->



                        </div>
                    </div>
                    <div class="flag">
                        选择目标标准和目标产品，从而找到供应商
                    </div>
                </div>
                <!-- 标准选择 end -->

            </div>
            <!--三个居中的按钮 start-->
            <div class="btnBox clearAll">
                <input type="submit" class="btn normal" value="提交">
                <input type="submit" class="btn normal" value="提交">
                <input type="submit" class="btn normal" value="提交">
            </div>
            <!--三个居中的按钮 end-->
            <div class="a_footer">
                <p>江苏省    无锡市    滨湖区    国家工业设计院   214000</p>
                <p>&copy;无锡基瓦涡轮增压发动机k科技有限公司版权所有</p>
                <p>电话：134-00000-719    Email:52971433@qq.com    传真：0510-8899-8888</p>
            </div>
        </div>
    </div>

</body>
</html>